@def HEIGHT 33px;
.SwapeeMeAccount {
}
.UserpicIm {
 width:HEIGHT;
 height:HEIGHT;
 object-position: center;
 object-fit: cover;
 overflow: hidden;
 border-radius: 50%;
}
.NoUserBlock {
 min-height:33px;
}
.SwapeeMeAccount.Showable{
 opacity:0;
}
.SwapeeMeAccount.Shown {
 animation: fade-in .35s forwards;
}
@keyframes fade-in {
 0%{
  opacity:0;
 }
 100%{
  opacity:1;
 }
}