@def COLOR #a70dfe;
@def PARTICLE_SIZE 3px;
@def DURATION 6s;
@def DIRECTION normal;

.BorderMotionPath {
 /* hello world */
 --d6fe1: '';
 position:relative;
 width:100%;
 height:100%;
}
.ParticlesWr {
 /* opacity:0; */
 /* transition:all .15s; */
 display:none;
}
.BorderMotionPath.Ready .ParticlesWr {
 display:initial;
}
/* .BorderMotionPath:hover .ParticlesWr {
 opacity:1;
} */
.BorderMotionPath:hover .ParticleWr {
 /* animation-play-state: running; */
}
.ParticleWr {
 offset-path: var(--d6fe1);
 animation: BorderMotionPathMove DURATION infinite linear;
 /* animation-play-state: paused; */
 position:absolute;
 top:0;
 left:0;
 /* opacity:0; */
 animation-fill-mode: both;
 animation-direction: DIRECTION;
}
.Particle {
 /* animation-play-state: paused; */
 width: PARTICLE_SIZE;
 height: PARTICLE_SIZE;
 background: COLOR;
 border-radius:50%;
}
/* .Particle:first-child,.Particle:last-child {
 border-radius:50%;
} */

@keyframes BorderMotionPathMove {
 0%{
  offset-distance:0%;
 }
 100%{
  offset-distance:100%;
 }
}
svg {
 display: none;
}