<span $id="ExchangeStatusTitle" ExchangeStatusTitle overflow-hidden>
 <span $id="NewStatusLa">
  <spectrum-icon:application-delivery xss /> initializing transaction
 </span>
 <span $id="AwaitingStatusLa">
  <spectrum-icon:clock xss /> awaiting payment
 </span>
 <span $id="ConfirmingStatusLa">
  <spectrum-icon:data-mapping xss /> confirming payin
 </span>
 <span $id="ExchangingStatusLa">
  <spectrum-icon:sync xss /> exchanging crypto
 </span>
 <span $id="SendingStatusLa">
  <spectrum-icon:transfer-to-platform xss /> sending coins
 </span>
 <span $id="FinishedStatusLa">
  <spectrum-icon:checkmark-circle-outline xss /> coins sent
 </span>
 <span $id="FailedStatusLa" StatusWarn>
  <spectrum-icon:thumb-down-outline xss /> transaction failed
 </span>
 <span $id="RefundedStatusLa" StatusWarn>
  <spectrum-icon:condition xss /> coins refunded
 </span>
 <span $id="OverdueStatusLa" StatusWarn>
  <spectrum-icon:variable xss /> payment overdue
 </span>
 <span $id="HoldStatusLa" StatusWarn>
  <spectrum-icon:user-lock xss /> on hold
 </span>
 <span $id="ExpiredStatusLa" StatusWarn>
  <spectrum-icon:pending xss /> rate expired
 </span>
</span>