<!-- <container-fluid background="#0b011b" height="700px">
 <xyz.swapee.motion-path :gap="0.025" />
</container-fluid> -->

<div width="350px" height="350px" background="grey">
 <xyz.swapee.border-motion-path $dev count="25" gap="0.0075" />
</div>