
<hr />
<!-- _Closure Compiler_ -->

<sup font-family="math">*</sup> _Firebase_, _Google Cloud_, _MongoDB_ are
registered trademarks of Google Inc and MongoDB Inc and/or its affiliates.
<!-- No affilication with _Swapee_ implied. -->

<p></p>

<!-- _Swapee_ is not endorsed by Google to write this post but we thought these
thoughts would be helpful to those who like us are exploring the best way to
deliver the greatest and the most experience to our customers. -->