<add-file>./img/swapee-grids-bg-1.png</add-file>
<container-fluid Complicated WideFluid position-relative overflow-hidden>
 <div position-absolute MyMotionPath pointer-events="none">
  <xyz.swapee.motion-path />
 </div>

 <container Wide>
  <row align-items-center>
   <column Silver col-12 col-lg-4 col-xl-5>
    <h2 White FW800 mb-4>It doesn't need to be complicated</h2>

    We created Swapee with a simple goal; to make Bitcoin accessible to anyone who
    wants to use it. Our platform makes buying Bitcoin easy, safe, and fast.

    Low rates ensure you never pay more than you should, while our range of payment
    methods gives you plenty of ways to pay.

   </column>

   <column Ligth_2_white_boxes>
    <!-- left -->
    <div Ligth_2_white_box position-relative>
     <div position-absolute top="0" left="0" right="0" bottom="0">
      <xyz.swapee.border-motion-path :count="40" :gap="0.007"
      :border-radius="15" z-index="1" COLOR="#d0ffff8c" />
     </div>

     <div class="Ligth_2_white_box_inner Ligth_2_white_box_inner_2">
      <img class="my-2" src="./img/swapee-grid-2.png" alt="icon" />
      <h5 class="White FW800">Designed Convenience</h5>
      <p class="Secondary FW300 mb-0 pb-3 text-center">Swapee
       puts you at the heart of the protocol, delivering a human-focused
       experience through a simple and smooth UI.</p>
     </div>
    </div>
   </column>

   <column Ligth_2_white_boxes>
    <!-- right -->
    <div Ligth_2_white_box position-relative>
     <div position-absolute top="0" left="0" right="0" bottom="0">
      <xyz.swapee.border-motion-path :count="40" :gap="0.007"
      :border-radius="15" z-index="1" COLOR="purple" DIRECTION="reverse" />
     </div>

     <div class="Ligth_2_white_box_inner Ligth_2_white_box_inner_2">
      <img class="my-2" src="./img/swapee-grid-1.png" alt="icon" />
      <h5 class="White FW800">Speed and Affordability</h5>
      <p class="Secondary FW300 mb-0 pb-3 text-center">
       Polygon, Ethereum’s leading scaling solution, will give Swapee’s users
       speed, security, and affordability right out of the box.
      </p>
     </div>
    </div>
    <div Ligth_2_white_box position-relative>
     <div position-absolute top="0" left="0" right="0" bottom="0">
      <xyz.swapee.border-motion-path :count="40" delay="2" :gap="0.007"
      :border-radius="15" z-index="1"  />
     </div>
     <div class="Ligth_2_white_box_inner Ligth_2_white_box_inner_2">
      <img class="my-2" src="./img/swapee-grid-3.png" alt="icon" />
      <h5 class="White FW800">Safe and Secure</h5>
      <p class="Secondary FW300 mb-0 pb-3 text-center">
       Security is king! Swapee will work with the best auditors in blockchain
       to ensure you have peace-of-mind.
      </p>
     </div>
    </div>
   </column>
  </row>
 </container>
</container-fluid>