/* @defmixin swapeeClipPath1(CORNER)  {
 clip-path:polygon(CORNER 0,100% 0,100% 100%,100% calc(100% - CORNER),calc(100% - CORNER) 100%,0 100%,0 100%,0 CORNER);
} */

.Ligth_2_white_box_inner {
 display: flex;
 flex-direction: column;
 align-items: center;
 /* clip-path: polygon(6% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 100%, 0 6%); */
 /* background: var(--white); */
 padding: 20px;
 /* border-radius: 14px; */
 /* -webkit-border-radius: 14px;
 -moz-border-radius: 14px;
 -ms-border-radius: 14px;
 -o-border-radius: 14px; */
 /* border: 1px solid var(--border_silver); */
 position: relative;
}

.Ligth_2_white_box_inner::before {
 content:'';
 z-index: -1;
 position:absolute;
 background:#4c3f626a;
 top:0;
 left:0;
 right:0;
 bottom:0;
 clip-path:polygon(15px 0,100% 0,100% 100%,100% calc(100% - 15px),calc(100% - 15px) 100%,0 100%,0 100%,0 15px);
 border-radius:15px;
}

.Ligth_2_white_box_inner::after {
 content:'';
 z-index: -1;
 position:absolute;
 /* background:green; */
 background: #0e0325b0;
 top:2px;
 left:2px;
 right:2px;
 bottom:2px;
 clip-path:polygon(14px 0,100% 0,100% 100%,100% calc(100% - 14px),calc(100% - 14px) 100%,0 100%,0 100%,0 14px);
 border-radius:14px;
}

.Ligth_2_white_box_inner_2 {
 /* background-color: rgba(22, 11, 46, 0.8); */
 /* border: 2px solid rgba(40, 30, 59, 0.8); */
}

.Ligth_2_white_box {
 filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.062));
 -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.062));
}
.Ligth_2_white_box:not(:last-child) {
 margin-bottom: 30px;
}
.Ligth_2_white_boxes {
 width: calc(50% - 15px);
 margin-bottom: 30px;
}
@media(max-width:768px) {
 .Ligth_2_white_boxes {
  width:100%;
 }
}
.Complicated::before {
 pointer-events: none;
 content:'';
 position:absolute;
 left:35%;
 top:5%;
 height:900px;
 width:900px;
 background:radial-gradient(rgba(128, 0, 128, 0.2),rgba(0,0,0,0) 40%);
 animation:compl-scale 10s infinite forwards;
 scale:1;
 /* background:radial-gradient(ellipse closest-side,
rgba(35, 80, 117, 0.27) 10%,
rgba(25, 61, 90, 0.46) 25%,
rgba(17, 45, 68, 0.66) 30%,
rgba(17, 45, 68, 0.85) 10%,
transparent 40%) */
 /* border-radius:50%; */
}

.Complicated::after {
 pointer-events: none;
 content:'';
 position:absolute;
 left:40%;
 top:20%;
 height:750px;
 width:750px;
 background:radial-gradient(rgba(0, 68, 128, 0.2),rgba(0,0,0,0) 40%);
 /* animation:compl-scale 10s infinite forwards; */
 scale:1;

 animation: orbit 13s forwards infinite;
 animation-timing-function: linear;
}

/* #spin {
 position:absolute;
 top:25%;
 left:50%;
 margin:50px;
} */

@keyframes orbit {
   from {  -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
   to   {  -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes compl-scale {
 0% {
  scale:1;
 }
 50%{
  scale:2;
 }
 100% {
  scale:1;
 }
}
.Complicated {
 position:relative;
 /* background:
 url('/pages/index/content/40-complicated/img/swapee-grids-bg-1.png'); */
 background:#0e0522;
 /* background:url('./img/swapee-grids-bg-1.png'); */
 /* background-size: cover; */

 padding-top: 50px;
 padding-bottom: 70px;
 position: relative;
 z-index: 99;
}
.MyMotionPath {
 top:-40%;
 right:-25%;
}
@media(max-width:1140px) {
 .MyMotionPath {
  top:-40%;
  right:-40%;
 }
}
