<container-fluid Sec3 Light mb-5>
 <container  pt-5>
 <!-- <section-break /> -->

 <div text-center mt-5 mb-5 pb-2>
  <h2 FW800>Opportunity Beyond Boundaries</h2>
 </div>

 <row>
  <column col-md-6 d-flex align-items-center px-3 px-lg-0>
   <img src="./img/opportunity_boundaries-light.png" alt="swapee for blockchain technology" img-fluid webp og />
  </column>
  <column col-md-6 color="#96a0a9" FW300>

 The world is changing, finance is changing: blockchain and DeFi are at the
 forefront of a powerful and historical revolution. People are looking for
 flexible, dynamic, and capital efficient alternatives to traditional financial
 instruments—alternatives that give custody over funds, and keep them away from
 the hands of corporations who prioritize bonuses and shareholders.


 Cryptocurrency in your wallet, is yours, and your ownership is recorded
 immutably on a distributed ledger. The globalized nature of cryptocurrency
 protects your funds from the whims of governments and central banks.


 However, blockchain technology is in its infancy and tools that will
 revolutionize the industry are often inaccessible, confusing, or
 under-developed. Blockchains are numerous and fragmented and the markets never
 stop. Swapee will break down these barriers, building a one-stop cross-chain
 protocol where holders share in the profits.

 <div d-flex align-items-center margin-top="2.4rem">
  <xyz.swapee.swapee-button font-size="14px">
   <BuLa padding="8px 23px" href="#exchange" />
   Get Started
  </xyz.swapee.swapee-button>

  <p FW700 ml-5 mb-0 font-size="14px" color="var(--txt_dark)">
   <a href="benefits" color="black" text-decoration="none">Learn More <spectrum-icon:arrow-right xxs /></a>
  </p>
 </div>

  </column>
 </row>

 </container>
</container-fluid>
