.HeroCopy {
 font-weight: 300;
 line-height: 1.5;
}
.CurrencySlide {
 padding-top: 12px;
 padding-bottom: 12px;
 background-color: var(--white);
 box-shadow: 0 1px 4px #1414141f;
}
.Sec3.Light {
 background: linear-gradient(180deg, #f3f4f6, #f3f4f6, #f3f4f6, #ffffff);
}
.OffersTableCont {
}
.RowOffers {
 border-left:2px solid   #CFCFD1;
 border-right:2px solid  #CFCFD1;
 border-bottom:2px solid #CFCFD1;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
 box-shadow: 0 0 13.5px rgba(2,2,2,0.15),inset 0px 0px 3px 1px #ffffff2b;
}
.ResetNowBu {
 cursor:pointer;
 display: inline-block;
}
.OffersFilter {
 background:#1d1531;
 border-top-left-radius:15px;
 border-top-right-radius:15px;
}