.LoadingRowCo {
 background:#230f32;
 position:fixed;
 z-index: 1000;
 bottom: 0;
 left: 0;
 right: 0;
}
.LoadingRow p {
 color:#96a0a9;
}
.LoadingRow {
 /* background:#23183A; */
 color:white;
 /* backdrop-filter: blur(2px); */
 /* clip-path:polygon(20px 0,100% 0,100% 100%,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 100%,0 20px); */
 /* border-radius:20px; */
}