<div $id="OfferExchange" OfferExchange position-relative>
 <!-- todo: automatic id in templates for components -->
 <xyz.swapee.exchange-broker $id="ExchangeBroker" $nos $fil />
 <xyz.swapee.transaction-info $id="TransactionInfo" :getting-transaction
 :icons-folder="/circuits/crypto-select/html/icons" x-transaction-info $fil $nos
 />

 <row align-items-center>
  <div $id="OfferExchangeInfoRowMobWr" col-md-12 d-md-none MobInfo>
   <xyz.swapee.offer-exchange-info-row $id="OfferExchangeInfoRowMob" />
  </div>
  <div $id="TransactionInfoHeadMobWr" col-md-12 d-md-none MobInfo display="none!important">
   <xyz.swapee.transaction-info-head $id="TransactionInfoHeadMob"
   query:transaction-info="[x-transaction-info]" />
  </div>

  <xyz.swapee.progress-column $id="ProgressColumnMobTop" $nos col-md-12
  d-md-none>
   <InfoNotice d-none />
   <SupportNotice d-none />
   <KycBlock KycMobileBlock />
   <KycRequired    $id="KycRequired" />
   <KycNotRequired $id="KycNotRequired" />
   <ExchangeEmail  $id="ExchangeEmail" />
   <Step2Co $id="Step2CoMobTop" />
   <Step3Co $id="Step3CoMobTop" />
  </xyz.swapee.progress-column>

  <column col-md-8 px-2 px-lg-3>
   <div d-none d-md-block>
    <xyz.swapee.offer-exchange-info-row $id="OfferExchangeInfoRow" />
   </div>
   <div $id="TransactionInfoHeadWr" d-none d-md-block display="none!important">
    <xyz.swapee.transaction-info-head $id="TransactionInfoHead"
    query:transaction-info="[x-transaction-info]" />
   </div>
   <!-- iconsFolder -->

   <link href="./steps/1-CreateTransaction.html" type="_frame" />
   <link href="./steps/2-SendPayment.html" type="_frame" />
   <link href="./steps/3-Review.html" type="_frame" />
  </column>

  <xyz.swapee.progress-column $id="ProgressColumnMobBot" $nos col-md-12
  d-md-none>
   <Step1ProgressCircleWr $id="Step1ProgressCircleWrMobBot" />
   <Step1La $id="Step1LaMobBot" />
   <KycBlock d-none />

   <Step2ProgressCircleWr $id="Step2ProgressCircleWrMobBot" />
   <Step2La $id="Step2LaMobBot" />

   <Step1Co $id="Step1CoMobBot" />
   <Step2Co $id="Step2CoMobBot" />
   <Step3Co $id="Step3CoMobBot" />
  </xyz.swapee.progress-column>

  <!-- <span spinner-grow-sm spinner-grow role="status">
   <span sr-only>Loading...</span>
  </span> -->
  <!-- background="transparent" -->

  <xyz.swapee.progress-column $id="ProgressColumn" $nos col-md-4 d-none
  d-md-block>
   <KycRequired    $id="KycRequired" />
   <KycNotRequired $id="KycNotRequired" />
   <ExchangeEmail  $id="ExchangeEmail" />
  </xyz.swapee.progress-column>
 </row>

 <div $id="BtcWalletPickerCont" BtcWalletPickerCont d-none>
  <span $id="BtcWalletPicker">
   <com.webcircuits.tooltip :click :position="left"
   :vertical-align="top-mid" :border-width="1">
    <info Info d-inline-block>
     <img SwapeeWallet src="img/wallet1.png" img-fluid ml-2 />
    </info>
    <Popup $id="RefundPopup" :outside-close WalletPopupWr z-index="1000" />
    <PopupContent WalletPopup RefundPopup />
    <BorderWr MyBorderBg />
    <InnerBorderWr MyBorderBg2 />

    <b WalletGroupHeading d-block text-center>BTC Wallets</b>

    <!-- todo: pass additional props by class selector rather than just $id -->
    <xyz.swapee.swapee-wallet-picker $id="SwapeeWalletPicker" mb-1
    margin-top="6px" $nos>
     <CreateInvoiceBu PopupBu />
     <SwapeeLoginBu PopupBu />
     <GetWalletBu PopupBu />
    </xyz.swapee.swapee-wallet-picker>
   </com.webcircuits.tooltip>
  </span>
 </div>
</div>


<!-- <Step1 ProgressColumn_Step1 />
<Step1ProgressCircleWr ProgressColumn_Step1ProgressCircleWr />
<Step1La ProgressColumn_Step1La /> -->