@def CLIP_RADIUS 11px;

/* all of these need BestOffer also */
.OfferRow.BestOffer::before {
 position:absolute;
 z-index:-1;
 content:'';
 background: linear-gradient(60deg, #5919dd, #eb17ff, #445eff, #445eff);
 background-size: 600% 600%;
 top:-4px;
 left:-19px;
 right:-19px;
 bottom:-4px;
 @mixin swapeeClipPath(CLIP_RADIUS);
 /* @alternate */
 border-radius:12px;
}

@media(min-width:576px) {
 .OfferRow.BestOffer::before {
  animation: AnimateBg 8s ease infinite;
 }
}
.OfferRow.BestOffer .InnerOfferRow::before{
 background:#23183A;
}
.OfferRow.BestOffer .InnerOfferRow {
 color:white;
}
/* .OfferRow.BestOffer .LogoDark {
 display:none;
} */
/* .OfferRow:not(.BestOffer) .LogoLight {
 display:none;
} */
.OfferRow:not(.BestOffer) h4 {
 color:#8534BA;
}
.OfferRow.BestOffer h4 {
 /* padding-right: 6.5rem; */
}
.OfferRow:not(.BestOffer) .BestOfferPlaque {
 display:none;
}
.OfferRow.BestOffer .Eta,.OfferRow.BestOffer .KycInfo {
 color:#96a0a9;
}
@keyframes AnimateBg {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}
.OfferRow .PolyBest, .OfferRow .PolyRec {
 display: none;
}
.OfferRow.BestOffer .Poly, .OfferRow.Recommended .Poly {
 display: none;
}
.OfferRow.BestOffer .PolyBest {
 display: inline;
}
.OfferRow.Recommended .PolyRec {
 display:inline;
}

.OfferRow.BestOffer .ProgressVertLine,.OfferRow.BestOffer .ProgressVertLine1 {
 color: #000419;
 text-shadow: 1px 1px #483b62;
}
.OfferRow.BestOffer .ProgressCircle,.OfferRow.BestOffer .ProgressCircle1 {
 background: #575dbd;
}

.OfferRow.BestOffer .TickSvg path {
 stroke: white;
}
.OfferRow.BestOffer .Link {
 color: white;
}
.OfferRow.BestOffer .TgImg {
 filter:invert(1);
}
.OfferRow.BestOffer .SwapeeWallet {
 filter:invert(1);
}
.OfferRow.BestOffer .NextBu[disabled] {
 background:#7d768e;
}
.OfferRow.BestOffer .StepInfo{
 color:#a0a2cb;
}
.OfferRow.BestOffer .ExchangeHint {
 color:#b0a4d5;
}

.OfferRow.BestOffer .StatusCo {
 background: linear-gradient(.0001deg,#23183a,#5337a7);
 border-top: 1px solid #2a1f40;
 box-shadow: 0 -2px 3px 0 #392d52;
}
.OfferRow.BestOffer .ExchangeStatusTitle {
 /* font-size:1.7rem; */
 text-shadow: 1px 1px #23183a;
}
.OfferRow.BestOffer .CopyBtn {
 /* font-size:1.7rem; */
 color:#5337a7;
}
