@def LOGO_PAD_BG #0d0d0dbf;
@def ROW_BG #D2D2D4;

.InnerOfferRow::before{
 content:'';
 pointer-events: none;
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background: ROW_BG;
 @mixin swapeeClipPath(10px);
}
.InnerOfferRow {
 position:relative;
 margin-top:.75rem;
 padding-top:1.25rem;
 padding-bottom:1.25rem;
 z-index:10;
}
.OfferRow:not(:last-child) .InnerOfferRow{
 margin-bottom:.75rem;
}
.OfferRow{
 position:relative;
}
.OfferValue {
 text-transform: uppercase;
}
.EtaWr {
 line-height: 1.3;
}
.Pointer {
 cursor:pointer;
}
h4 {
 font-weight: 700;
 max-width:100%;
}
.BestOfferPlaque {
 font-size:12px;
 /* todo: linear gradient 0deg throws error */
 background:linear-gradient(#1F0E40 50%,#6774e1);
 padding:8px 13px;
 border:1px solid #2E2444;
 border-radius:20px;
 color:white;
 white-space: nowrap;
 display:inline-block;
}
.GetText {
 font-size:12px;
 top:1px;
}
@media(max-width:576px) {
 .GetImg {
  max-width:180px
 }
 .GetText{
  font-size:14px;
  top:2px;
 }
}
.OfferAmount {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 display: inline-block;
 max-width: 100%;
}
.OfferCrypto {
 display: inline-block;
 overflow: hidden;
}
.LogoPad {
 padding: 10px;
 text-align: center;
 margin: auto;
 background: LOGO_PAD_BG;
 border-radius: 5px;
}
.CoinImPoly {
 opacity:0;
 top: -10px;
 left: -8px;
 width: calc(100% + 16px);
 height: calc(100% + 21px);
}
.CancelLa {
 display:none;
}
[aria-expanded=true] .CancelLa{
 display:inline;
}
[aria-expanded=true] .GetDealLa{
 display:none;
}
/* background: #575dbd; */
/* background: #575dbd38; */
.ProgressVertLineLogoStub {
 left: 23px;
 padding-top: 12px;
 /* font-size: 9px; */
 opacity:1;
 transition: .7s;
 pointer-events: none;
}
.ProgressVertLineLogoStub[data-hack-vert]:not([aria-expanded=true]){
 /* display:none; */
 padding-top: 0;
 opacity:0;
}
.OfferH {
 min-width: 0;
}
.CoinIm img {
 max-width:100%;
}