/* all of these need Recommended also */
.OfferRow.Recommended:not(.BestOffer)::before {
 position:absolute;
 z-index:-1;
 content:'';
 background: linear-gradient(60deg, #9f7928, #8A6E2F, #D1B464, #5d4a1f);
 animation: AnimateBg 8s ease infinite;
 background-size: 600% 600%;
 top:-4px;
 left:-19px;
 right:-19px;
 bottom:-4px;
 @mixin swapeeClipPath(11px);
 /* @alternate */
 border-radius:12px;
}
.OfferRow.Recommended:not(.BestOffer) .InnerOfferRow {
 /* background: #dedac8; */
}
.OfferRow.BestOffer.Recommended .RecommendedPlaque {
 display:none !important;
}
.RecommendedPlaque {
 cursor:pointer;
 font-size: 11px;
 /* todo: linear gradient 0deg throws error */
 background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
 radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
 /* background: linear-gradient(#1F0E40 50%, #6774e1); */
 padding: 8px 12px 7px;
 border: 1px solid #7f6320;
 border-radius: 20px;
 color: white;
 position:absolute;
 top:0px;
 right:0px;
}
/* .OfferRow:not(.BestOffer).Recommended h4 {
 padding-right: 8.7rem;
} */
.RecommendedPlaque {
 position:relative;
 float:right;
}

.RecommendedPopup {
 font-size:11px;
 color:white;
 background:#23183A;
 padding: .33rem;
 @mixin swapeeClipPath(8px);
}

@media(max-width:576px) {
 .RecommendedPopup {
  font-size:12px;
  padding: .55rem;
 }
 /* .RecommendedPlaque {
  position:relative;
  float:right;
 } */
 /* .OfferRow:not(.BestOffer).Recommended h4 {
  padding-right: 0;
 } */
}