<div $id="CryptoSelect" CryptoSelect position-relative>
 <div $id="CryptoSelectedBl" Highlight CryptoSelectedBl d-flex
 justify-content-between align-items-center>
  <span $id="InnerSpan" InnerSpan d-flex>
   <span $id="CryptoSelectedImWr" CryptoSelectedImWr />
   <input $id="CryptoSelectedNameIn" CryptoSelectedNameIn placeholder="Search...">
  </span>
  <span $id="ChevronDown" placeholder-auto Chevron ChevronDown><spectrum-icon:chevron-down /></span>
  <span $id="ChevronUp" placeholder-auto Chevron ChevronUp><spectrum-icon:chevron-up /></span>
 </div>

 <div $id="CryptoMenu" Menu position-absolute>
  <com.webcircuits.popup $id="Popup" :offset-y="10" />

  <!-- the list of cryptos goes in there. -->
  <div $id="CryptoDown" />
 </div>
</div>