<div $id="OffersTable" OffersTable>
 <div>
  <row my-3 d-none d-lg-flex>
   <column col-lg-6>
    <span ColHeading Purple>Rate</span>
   </column>
   <column col-lg-2>
    <span ColHeading Purple>Type</span>
   </column>
   <column>
    <span ColHeading Purple>Partner</span>
   </column>
  </row>
 </div>

 <xyz.swapee.offer-row $id="ChangellyFloatingOffer" $dev>
  <OfferAmount $id="ChangellyFloatingOfferAmount" />
  <OfferCrypto $id="OfferCryptoOut" />
  <CoinIm $id="CoinImWr" />
  <Logo src="./logo/changelly.svg" alt="Changelly" />
  <Eta>4-17 min</Eta>
  <GetDealBuA $id="ChangellyFloatLink" target="_blank" />
 </xyz.swapee.offer-row>

 <xyz.swapee.offer-row $id="ChangellyFixedOffer" :fixed $dev>
  <OfferAmount $id="ChangellyFixedOfferAmount" />
  <OfferCrypto $id="OfferCryptoOut" />
  <CoinIm $id="CoinImWr" />
  <Logo src="./logo/changelly.svg" alt="Changelly" />
  <Eta>4-17 min</Eta>
  <GetDealBuA $id="ChangellyFixedLink" target="_blank" />
 </xyz.swapee.offer-row>

 <xyz.swapee.offer-row $id="LetsExchangeFloatingOffer" :recommended="letsexchange-float">
  <OfferAmount $id="LetsExchangeFloatingOfferAmount" />
  <OfferCrypto $id="OfferCryptoOut" />
  <CoinIm $id="CoinImWr" />
  <Logo src="./logo/letsexchange.svg" alt="LetsExchange" />
  <Eta>4-17 min</Eta>
  <GetDealBuA $id="LetsExchangeFloatLink" target="_blank" />
 </xyz.swapee.offer-row>

 <xyz.swapee.offer-row $id="LetsExchangeFixedOffer" :fixed
 :recommended="letsexchange-fixed">
  <OfferAmount $id="LetsExchangeFixedOfferAmount" />
  <OfferCrypto $id="OfferCryptoOut" />
  <CoinIm $id="CoinImWr" />
  <Logo src="./logo/letsexchange.svg" alt="LetsExchange" />
  <Eta>4-17 min</Eta>
  <GetDealBuA $id="LetsExchangeFixedLink" target="_blank" />
 </xyz.swapee.offer-row>

 <xyz.swapee.offer-row $id="ChangeNowFloatingOffer">
  <OfferAmount $id="ChangeNowFloatingOfferAmount" />
  <OfferCrypto $id="OfferCryptoOut" />
  <CoinIm $id="CoinImWr" />
  <Logo src="./logo/changenow.svg" alt="ChangeNow" />
  <Eta>4-17 min</Eta>
  <GetDealBuA $id="ChangeNowFloatLink" target="_blank" />
 </xyz.swapee.offer-row>

 <xyz.swapee.offer-row $id="ChangeNowFixedOffer" :fixed>
  <OfferAmount $id="ChangeNowFixedOfferAmount" />
  <OfferCrypto $id="OfferCryptoOut" />
  <CoinIm $id="CoinImWr" />
  <Logo src="./logo/changenow.svg" alt="ChangeNow" />
  <Eta>4-17 min</Eta>
  <GetDealBuA $id="ChangeNowFixedLink" target="_blank" />
 </xyz.swapee.offer-row>
</div>