<column $id="ProgressColumn" ProgressColumn>
 <div mt-2 mt-md-0>
  <div $id="Step1Co">
   <p $id="Step1Wr" d-flex align-items-center position-relative>
    <span $id="Step1ProgressCircleWr" ProgressCircleWr>
     <span d-flex align-items-center position-relative justify-content-center w-100 h-100>
      <span $id="Step1Circle" ProgressCircle></span>
      <link href="./img/tick.svg" type="_frame" />
      <!-- <img src="./img/tick.svg" CheckIm /> -->
     </span>
    </span>
    <span $id="Step1La" d-flex flex-column>
     <span StepLa>Create transaction</span>
     <span $id="TransactionIdWr" StepInfo>
      ID: <span $id="TransactionIdLa" />
     </span>
    </span>
    <span position-absolute ProgressVertLine>|</span>
   </p>
  </div>

  <div $id="Step2Co">
   <p $id="Step2Wr" position-relative d-flex align-items-center position-relative>
    <span $id="Step2ProgressCircleWr" ProgressCircleWr>
     <span d-flex align-items-center position-relative justify-content-center
     w-100 h-100>
      <span $id="Step2Circle" ProgressCircle />
      <link href="./img/tick.svg" type="_frame" />
     </span>
    </span>
    <span $id="Step2La" StepLabel d-flex flex-column>
     <span StepLa>Send payment</span>
     <span $id="PaymentStatusWr" StepInfo>
      <span $id="PaymentStatusLa" />
     </span>
    </span>
    <span $id="Step2BotSep" position-absolute ProgressVertLine>|</span>
   </p>
  </div>

  <div $id="Step3Co">
   <p $id="Step3Wr" d-flex align-items-center position-relative>
    <span ProgressCircleWr>
     <span d-flex align-items-center position-relative justify-content-center
     w-100 h-100>
      <span $id="Step3Circle" ProgressCircle />
      <link href="./img/tick.svg" type="_frame" />
     </span>
    </span>
    <span $id="Step3La" StepLabel d-flex flex-column>
     <span StepLa>Processing</span>
     <span $id="TransactionStatusWr" StepInfo>
      <span $id="TransactionStatusLa" />
     </span>
    </span>
   </p>
  </div>
 </div>

 <div $id="KycBlock">
  <div $id="KycRequired" font-size="smaller" mb-2 KycInfo p-1>
   <spectrum-icon:identity-service /> This transaction will require KYC. Please
   email <a $id="ExchangeEmail" color="#5337a7" /> after payment.
  </div>
  <div $id="KycNotRequired" font-size="smaller" mb-2 KycInfo p-1>
   <span position-relative>
    <!-- <span KycCrossing></span> -->
    <!-- <spectrum-icon:identity-service /> -->
    <spectrum-icon:viewed-mark-as />
   </span> This transaction <b>does not</b> require KYC.
  </div>
 </div>
 <!-- <p $id="InfoNotice" font-size="smaller">
  <spectrum-icon:info-outline xs /> On rare occasions, actual exchange time can
  increase unexpectedly with spikes in blockchain activity.
 </p> -->

 <p $id="SupportNotice" font-size="small" mb-0>
  <spectrum-icon:call-center xs /> For any questions, please get in touch with
  our support team:
  <spectrum-icon:email-outline xs /> <a href="mailto:support@swapee.xyz"><b
  Link>support@swapee.xyz</b></a>, or <br d-lg-none />
  <span white-space="nowrap">
   <img src="./img/tg.png" TgImg resize-to="16" x2 x3 alt width="16px" /> Telegram:
  </span> <a target="_blank" href="https://t.me/swapeesupportbot"><b Link>@SwapeeSupportBot</b></a>
 </p>
</column>