<container-fluid WideFluid>

<container mb-4 mb-lg-5 Wide>
 <row>
  <column>
<h4 FW700>Recent Stories</h4>
  </column>
 </row>

 <row>
  <column col-lg-4 mb-3>
   <div BlogPostWr>
    <div background="grey" w-100 height="250px"></div>

    <div BlogPostInfo>
     <h5>Title</h5>
     <h6 Purple>Author</h6>
    </div>
   </div>
  </column>

  <column col-lg-4 mb-3>
   <a href="about" color="initial" text-decoration="none">
    <div BlogPostWr>
     <div background="white" w-100 height="250px" d-flex align-items-center
     justify-content-center overflow-hidden BlogPostImgWr>
      <img src="./told-you3.jpg" webp img-fluid alt="A letter from Swapee
      Founder" h-100 object-fit="cover" />
     </div>
     <div BlogPostInfo>
      <h5>A letter from Swapee Founder</h5>
      <h6 Purple>CEO</h6>
     </div>
    </div>
   </a>
  </column>

  <column col-lg-4>
   <div BlogPostWr>
    <div background="grey" w-100 height="250px"></div>
    <div BlogPostInfo>
     <h5>Title</h5>
     <h6 Purple>Author</h6>
    </div>
   </div>
  </column>
 </row>
</container>
</container-fluid>
