@def CLIP_PATH 7px;

.SwapeeSocialButtons {}

.SwapeeSocialButtons.SocialButtons .SwapeeButton {
 /* position:relative; */
 /* background:orange !important; */
 border-radius:0;
 @mixin swapeeClipPath(calc(CLIP_PATH - 1px));
}

@defmixin swapeeClipPath(CORNER)  {
 clip-path:polygon(CORNER 0,100% 0,100% 100%,100% calc(100% - CORNER),calc(100% - CORNER) 100%,0 100%,0 100%,0 CORNER);
}