<!doctype html>
<html lang="en" min-height="100%" class="no-js" d-flex flex-column>
  <block-head />

  <rename-classes />
  <quick-selector />

  <!-- <stylesheet href="css/loom.css" trap /> -->
  <stylesheet href="./MainLayout.css" />

  <selector-font h1 critical sans-serif weight="900">Inter</selector-font>
  <selector-font h2 critical sans-serif>Inter</selector-font>
  <selector-font h2-h6 sans-serif>Inter</selector-font>

  <body d-flex flex-column align-items-center position-relative flex="1">
   <container-fluid>
    Menu
   </container-fluid>

   <main flex-shrink-0 flex-grow-1 id="Content" w-100>
    {{ content }}
   </main>

    <!-- <block-footer /> -->

    <block-footer />

    <depack-require />
    <dui profile />
  </body>
</html>
