.RegionPing {
 opacity: 1;
}
.Reg {
 font-weight: 600;
}
.RegionLa {
 opacity:.5
}
.ServerRegionLa {
 opacity:1;
}
.ServerRegionLa {
 font-family: Source Code Pro,monospace;
 background: linear-gradient(90deg,rgb(204, 219, 229),rgb(156, 161, 196) );
 text-shadow:1px 1px rgba(255, 255, 255, 0.511);
 border-bottom:1px solid rgb(135, 151, 171);
 padding: 0 3px;
 border-radius:5px;
 font-size: x-small;
}