h1 {
  font-size: -webkit-calc(1.375rem + 1.5vw);
  font-size: -moz-calc(1.375rem + 1.5vw);
}
h2 {
  font-size: -webkit-calc(1.325rem + 0.9vw);
  font-size: -moz-calc(1.325rem + 0.9vw);
}

/*!
* Bootstrap v4.3.1 (https://getbootstrap.com/)
* Copyright 2011-2019 The Bootstrap Authors
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
* {
  -webkit-box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col {
  -webkit-flex-basis: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
}
.d-flex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
}
.flex-column {
  -webkit-flex-direction: column !important;
}
.flex-grow-1 {
  -webkit-box-flex: 1 !important;
  box-flex: 1 !important;
  -webkit-flex-grow: 1 !important;
}
.flex-shrink-0 {
  -webkit-flex-shrink: 0 !important;
}
@media print {
  * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::after {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}
.si-a.si-b {
  -webkit-transition: color 150ms ease-in-out, fill 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out, fill 150ms ease-in-out;
}
.SwapeeButton {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.SwapeeButton:active ._c37-a {
  -webkit-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
}
.SwapeeButton ._c37-a {
  -webkit-transition: all 0.23s;
  -o-transition: all 0.23s;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  -webkit-align-items: center;
}
.SwapeeButton ._c37-b {
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% 100%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 100%, 0 10px);
}
.SwapeeButton ._c37-b::before {
  -webkit-clip-path: polygon(calc(10px - 1px) 0, 100% 0, 100% 100%, 100% calc(100% - calc(10px - 1px)), calc(100% - calc(10px - 1px)) 100%, 0 100%, 0 100%, 0 calc(10px - 1px));
}
.SwapeeButton ._c37-b::after {
  -webkit-clip-path: polygon(calc(10px - 1px) 0, 100% 0, 100% 100%, 100% calc(100% - calc(10px - 1px)), calc(100% - calc(10px - 1px)) 100%, 0 100%, 0 100%, 0 calc(10px - 1px));
}
.SwapeeButton::before {
  background: -webkit-linear-gradient(45deg, #74239c, #4042ae, #2aafc4);
  background: -moz-linear-gradient(45deg, #74239c, #4042ae, #2aafc4);
  background: -ms-linear-gradient(45deg, #74239c, #4042ae, #2aafc4);
  background: -o-linear-gradient(45deg, #74239c, #4042ae, #2aafc4);
  -webkit-background-size: 200% 200%;
  -o-background-size: 200% 200%;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-clip-path: polygon(calc(10px + 1px) 0, 100% 0, 100% 100%, 100% calc(100% - calc(10px + 1px)), calc(100% - calc(10px + 1px)) 100%, 0 100%, 0 100%, 0 calc(10px + 1px));
}
@media (min-width: 576px) {
  .SwapeeButton::before {
    -webkit-animation: SwapeeButtonAnimateBg 4s ease infinite;
    -o-animation: SwapeeButtonAnimateBg 4s ease infinite;
  }
}
