/*# A debug pretty version for visual diffs */
:root {
  --txt_dark: #141414;
  --txt_purple: #5a19dd;
  --white: #fff;
  --dark: #000;
  --border_silver: #dee2e6;
  --txt_dark_secondary: #334155;
  --txt_light_secondary: #96a0a9;
  --txt_purple2: #130926;
}
.Silver {
  color: #b1b2b3 !important;
}
.White {
  color: #fff !important;
}
.Purple {
  color: #8534ba !important;
}
.LighSecondary {
  color: #96a0a9 !important;
}
.DarkSecondary {
  color: #334155 !important;
}
.Secondary {
  color: #96a0a9 !important;
}
.H5 {
  font-size: 1.25rem;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
.H5 {
  font-size: 1.25rem;
}
@media (min-width: 1200px) {
  .H1, h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .H2, h2 {
    font-size: 2rem;
  }
}
.FS12 {
  font-size: 12px;
}
.FS14 {
  font-size: 14px;
}
@media (min-width: 1400px) {
  .WideFluid > .Wide {
    max-width: 86vw;
  }
}
.FW800 {
  font-weight: 800 !important;
}
.FW700 {
  font-weight: 700 !important;
}
.FW600 {
  font-weight: 600 !important;
}
.FW500 {
  font-weight: 500 !important;
}
.FW400 {
  font-weight: 400 !important;
}
.FW300 {
  font-weight: 300 !important;
}
body > svg:last-of-type {
  height: 0;
}
body {
  font-family: Inter, sans-serif, serif;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}

/*!
* Bootstrap v4.3.1 (https://getbootstrap.com/)
* Copyright 2011-2019 The Bootstrap Authors
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
main {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border-style: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
.position-relative {
  position: relative !important;
}
.h-100 {
  height: 100% !important;
}
@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
@page {
    size: a3;
  }
  body, .container {
    min-width: 992px !important;
  }
}
.si-a {
  display: inline-block;
  color: inherit;
  fill: currentColor;
}
.si-a.si-b {
  transition: color 150ms ease-in-out, fill 150ms ease-in-out;
}
.si-c {
  height: 0.5625rem;
  width: 0.5625rem;
}
.si-d {
  height: 0.93rem;
  width: 0.93rem;
}
.si-e {
  height: 0.75rem;
  width: 0.75rem;
}
.si-f {
  height: 1.125rem;
  width: 1.125rem;
}
.si-g {
  height: 1.5rem;
  width: 1.5rem;
}
.si-h {
  height: 2.25rem;
  width: 2.25rem;
}
.si-i {
  height: 3rem;
  width: 3rem;
}
.si-j {
  height: 4.5rem;
  width: 4.5rem;
}
@media (max-width: 768px) {
  .si-c {
    height: 0.688rem;
    width: 0.688rem;
  }
  .si-e {
    height: 0.938rem;
    width: 0.938rem;
  }
  .si-d {
    height: 1.156rem;
    width: 1.156rem;
  }
  .si-f {
    height: 1.375rem;
    width: 1.375rem;
  }
  .si-g {
    height: 1.875rem;
    width: 1.875rem;
  }
  .si-h {
    height: 2.75rem;
    width: 2.75rem;
  }
  .si-i {
    height: 3.75rem;
    width: 3.75rem;
  }
  .si-j {
    height: 5.625rem;
    width: 5.625rem;
  }
}
@keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.SwapeeButton {
  position: relative;
  display: inline-block;
  padding: 7px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  filter: drop-shadow(0 2px 8px #4629ff2c);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.SwapeeButton:active ._c37-a {
  transform: translate(1px, 1px);
}
.SwapeeButton:hover {
  filter: drop-shadow(0 4px 8px #4629ff4d);
}
.SwapeeButton:hover ._c37-a {
  color: #74239c !important;
}
.SwapeeButton ._c37-a {
  transition: all 0.23s;
  color: initial !important;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}
@keyframes SwapeeButtonAnimateBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
.SwapeeButton ._c37-b {
  position: absolute;
  background: #fff;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 100%, 0 10px);
}
.SwapeeButton ._c37-b::before {
  position: absolute;
  content: '';
  background: #fff;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  clip-path: polygon(calc(10px - 1px) 0, 100% 0, 100% 100%, 100% calc(100% - calc(10px - 1px)), calc(100% - calc(10px - 1px)) 100%, 0 100%, 0 100%, 0 calc(10px - 1px));
}
.SwapeeButton ._c37-b::after {
  z-index: -1;
  position: absolute;
  content: '';
  background: lightgrey;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  clip-path: polygon(calc(10px - 1px) 0, 100% 0, 100% 100%, 100% calc(100% - calc(10px - 1px)), calc(100% - calc(10px - 1px)) 100%, 0 100%, 0 100%, 0 calc(10px - 1px));
}
.SwapeeButton::before {
  position: absolute;
  z-index: -1;
  content: '';
  background: linear-gradient(45deg, #74239c, #4042ae, #2aafc4);
  background-size: 200% 200%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 1px;
  bottom: 0;
  clip-path: polygon(calc(10px + 1px) 0, 100% 0, 100% 100%, 100% calc(100% - calc(10px + 1px)), calc(100% - calc(10px + 1px)) 100%, 0 100%, 0 100%, 0 calc(10px + 1px));
}
@media (min-width: 576px) {
  .SwapeeButton::before {
    animation: SwapeeButtonAnimateBg 4s ease infinite;
  }
}
.SwapeeMe {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
