.SwapeeLoginPage ._f95-a{font-weight:700}.SwapeeLoginPage input{height:3rem;display:inline-block;border-radius:13px;background:#add8e6;color:darkslategrey}.SwapeeLoginPage ._f95-b{border-radius:13px;background:#000;color:#fff}.SwapeeLoginPage ._f95-b[disabled]{background:grey}