<span $id="ExchangeStatusHint" ExchangeStatusHint>
  <span $id="AwaitingStatusLa">
   Send the exact amount to the address shown below from your wallet.
  </span>
  <span $id="ConfirmingStatusLa">
   Your payment was seen on the blockchain, the exchange is waiting for enough
   confirmations before proceeding.
  </span>
  <span $id="ExchangingStatusLa">
   The payment was confirmed successfully, exchange is taking place now.
  </span>
  <span $id="SendingStatusLa">
   Exchange has completed, the coins are being sent to your other wallet.
  </span>
  <span $id="FinishedStatusLa">
   All done, exchange has completed and you may now check your wallet for funds.
  </span>
  <span $id="FailedStatusLa" StatusWarn>
   Exchange failed. In most cases, the reason is that the amount was less than
   the minimum. Please contact support and provide a transaction ID.
  </span>
  <span $id="RefundedStatusLa" StatusWarn>
   Exchange failed and paid in coins were refunded.
  </span>
  <span $id="OverdueStatusLa" StatusWarn>
   You haven't sent a payment in due time and need to start anew.
  </span>
  <span $id="HoldStatusLa" StatusWarn>
   The transaction is on hold due to KYC, please contact support.
  </span>
  <span $id="ExpiredStatusLa" StatusWarn>
   The fixed rate expired before payment could be received.
  </span>
 </span>