<add-file>./img/footer.png</add-file>

<div height="800px">

</div>

<container-fluid WideFluid position-relative overflow-hidden FooterBg pt-5 FooterCo>
 <!-- <img src="./img/footer.png" alt position-absolute top="0" left="0" h-100 /> -->

 <container role="footer" Wide py-3 MenuCo>
  <row>
   <column col-12 col-md-3 col-lg-3 d-flex align-items-center>
    <a href="/">
     <img src="./img/footer_logo.svg" alt="swapee finance" />
    </a>
   </column>

   <column Col col-4 col-md-3 d-flex flex-column col-lg-2>
    <h6>
     Products
    </h6>
    <a href="explore">Explore</a>
    <a href="index">Exchange</a>
    <a href="blog">Blog</a>
    <a href="company">Company</a>
    <a href="help">Help Center</a>

   </column>
   <column Col col-4 col-md-3  d-flex flex-column col-lg-2>
    <h6>
     Company
    </h6>
    <a href="about-us">About Us</a>
    <a href="press">Press</a>
    <a href="team">Team</a>
    <a href="partners">Partners & Affiliates</a>
    <a href="faq">F.A.Q.</a>

   </column>
   <column Col col-4 col-md-3  d-flex flex-column col-lg-2>
    <h6>
     Social
    </h6>
    <a href="twitter" target="_blank">Twitter <spectrum-icon:link-out-light xss /></a>
    <a href="facebook" target="_blank">Facebook <spectrum-icon:link-out-light xss /></a>
    <a href="discord" target="_blank">Discord <spectrum-icon:link-out-light xss /></a>
    <a href="medium" target="_blank">Medium <spectrum-icon:link-out-light xss /></a>
   </column>

   <column Col col-12 col-md-3 d-flex flex-column col-lg-3>
    <h6>
     Get the Swapee App
    </h6>
    <div d-flex w-100 justify-content-between>
     <img src="./img/qr.png" alt="swapee qr code" img-fluid />

     <div d-flex flex-column>
      <span mb-3>
       <img src="./img/googlePlay.png" alt="swapee on google play" />
      </span>
      <span>
       <img src="./img/appStore.png" alt="swapee on app store" />
      </span>
     </div>
    </div>
   </column>
  </row>
 </container>

 <div border-top="1px solid #141414" w-100 margin-left="-15px" margin-right="-15px">

 </div>
 <container Wide DarkSecondary FS14 FS500 py-4>
  <row line-height="0">
   <column>
    ©<year /> Copyright Swapee Finance LTD. All Right Reserved.
   </column>
   <column text-right SubMenuCo>
    <div>
     <a href="security" mr-3>Security</a>
     <a href="privacy" mr-3>Privacy</a>
     <a href="terms">Terms</a>
    </div>
   </column>
  </row>
 </container>
</container-fluid>
