## Conclusions

In the above, I have shown how we exploited _Firebase_ capabilities to make sure
we're building a modern website with scale-by-design property. This means we
won't have to go through a painstaking process of upgrading the infrastructrure
from monolith to cloud at some point in future. Howerver it must be understood
that cloud functions are not a panacea and could actually incur additional
costs, because of the following:

<row>
 <column col-12 col-lg-6 >
  <p text-center>
   <img src="./img/cost.png" mb-3 resize-to="350" x2 alt="serverless cost" img-fluid
   />
  </p>

  When multiple requests come to serverless architecture, a number of instances
  will be needed to handle them. For each spawned instance, cost will be
  incurred. Considering we'll be waiting for partners' API responses most of the
  time, we're basically paying not for compute but for idle.

 </column>
 <column col-12 col-lg-6>
  <p text-center>
   <img src="./img/cost2-1.png" mb-3 resize-to="350" x2 alt="server cost" img-fluid />
  </p>

  On the other hand, on monolith servers, external requests are cheap as they
  all happen within the same instance and "stuck" well. The real problem is that
  when traffic surges are unexpected, we might run out of memory/CPU in which
  case the entire machine will hang.

 </column>
</row>

Also, our cloud function instances "eat" 256 MiB memory, whereas should 128
really be enough as on a monolith server we run a Node process that consumes
less than a 100. Gladly, _Firebase_ provides a good free-tier for cloud
functions. The ideal would be a hybrid solution, where up to certain number of
requests are handled on monolith after which we would scale up using serverless.

<!-- Although the invocations of functions might bear additional cost at start, the
benefits of having Google-powered infrastructure, set up in a proper way as
shown in the article, should be clear to any strategic developer. -->

<!-- (🍩) -->

### Future work

From our crypto-aggregator point of view, it could be beneficial for the
crypto-exchange providers of APIs such as _Changelly_, to distribute their
infrastructure globally too and provide consumer endpoints for each region
(unless done by DNS). At the moment, our bottle-neck is exactly 3rd party
services, but for other websites, we hope our that ideas can point you in the
right direction of how to deploy _Firebase_ apps across regions. Some topics
mentioned but not covered here include:

<!-- It could be beneficial for the providers of APIs such as _Changelly_ to deploy
their infrastructure across the atlantic and even in Asia to be able to give
their API consumers a choice to establish a faster ping with the crypto-market
&mdash; because in real life, the ability to keep hand on real-time data and
react quickly is of utmost importance. -->

- Work with providers to provide a "push" capability to minimise cloud time.
- Remove Express dependency within `functions-framework` to cut down memory usage.
- Utilise cross-invocation global caching mechanism to cache downloaded methods.
- Establish access control to hosted methods' source code and limit it to functions.
- Cluster _Firestore_ telemetry by date and/or region and build dashboards.

If you're interested in these topics, why not [subscribe](/feed/dev-blog.xml) to
our blog and [follow us](https://x.com/swapee-finance) on social media? _Swapee Finance_ seeks to deliver a wide range of cryptocurrency services to the digital
citizens such as yourselves, including [accepting payments](https://swapee.me)
and [exchanging coins](/), so stick with us if you like crypto and tech as much
as we do.

<!-- more cutting-edge innovation,
or [tell us](mailto:community@swapee.me) directly what your needs are. -->

<row>
 <column col-4 col-md-3 col-lg-2>
  <img src="./img/anton.jpeg" alt="anton dmuhovsky swapee" border-radius="50%" webp="photo" img-fluid />
 </column>
 <column d-flex justify-content-center flex-column>
  <p>
   Post by _Anton Dmuhovsky_ <br/>Infrastructure / Research Engineer @
   _Swapee Finance_, UK
  </p>

  <xyz.swapee.swapee-social-buttons />

 </column>
</row>

<!-- It is also an interesting topic to see how well _Firebase_ can reuse instances
of functions across invocations. Amazon lambda functions, for example, were able
to store data in scope for future short-time access. It is not clear whether
across-function caching could work with _Firebase_ - the initial local testing
was negative however it might work online. -->


<add-file>feed/dev-blog.xml</add-file>
