<div $id="RegionPing" RegionPing>
 <span $id="RegionFlagLa" />
 <span $id="RegionWr">
  <span $id="RegionLa" RegionLa />
 </span>
 <span $id="ServerRegionWr">
  <span $id="ServerRegionLa" ServerRegionLa />
 </span>
 <span $id="LoWr">Pinging region...</span>
 <span $id="PingWr">
  <span $id="RegionPingLa" /> - <span $id="RegionPingLa2" />
 </span>
</div>