<row $id="ExchangeIdRow" ExchangeIdRow>
 <column d-flex align-items-center justify-content-around FS14>
  <h3 mb-0 mr-2>
   Exchange # <span $id="ExchangeIdLa" ExchangeIdLa />
  </h3>

  <div d-flex flex-column h-100 justify-content-between>
   <div $id="RestartBu" RateType SelectedRateType px-1 px-lg-4 py-2 ml-md-3
   d-flex align-items-center d-lg-none justify-content-center mt-2>
    Clear <span ml-2><spectrum-icon:erase /></span>
   </div>
   <div $id="ExchangeIdFloatingLa" RateType SelectedRateType px-1 px-lg-4 py-2 mx-md-3 d-flex align-items-center>
    Floating <img src="./img/floating_icon.png" alt ml-3 />
   </div>
   <div $id="ExchangeIdFixedLa" RateType SelectedRateType px-1 px-lg-4 py-2 ml-md-3 d-flex align-items-center>
    Fixed <img src="./img/lock_icon.png" alt ml-3 />
   </div>
  </div>

  <div $id="RestartBu" RateType SelectedRateType px-1 px-lg-4 py-2 ml-md-3
  align-items-center d-none d-lg-flex>
   <spectrum-icon:erase />
  </div>
 </column>
</row>