<add-file>./img/footer1.png</add-file>

<!-- <div height="800px"></div> -->

<stylesheet href="./stylesheet/Footer.css" />

<container-fluid WideFluid position-relative overflow-hidden FooterBg pt-5 FooterCo>
 <!-- <img src="./img/footer.png" alt position-absolute top="0" left="0" h-100 /> -->

 <container role="footer" Wide py-lg-3 MenuCo>
  <row>
   <column col-12 col-md-3 col-lg-3 d-flex align-items-center justify-content-center>
    <a href="/" mb-5 mb-lg-0>
     <img src="./img/footer_logo.svg" alt="swapee finance" />
    </a>
   </column>

   <column Col col-6 col-md-3 d-flex flex-column col-lg-2>
    <h6>
     Aggregator
    </h6>
    <a href="index">Exchange</a>
    <!-- todo: skip /index for dirs? -->
    <a href="partners/index">Partners</a>
    <a href="blog">Blog</a>
    <!-- <a href="company">Company</a> -->
    <a href="help">Help Center</a>
    <a href="https://t.me/SwapeeSupportBot">Support Bot <spectrum-icon:link-out-light xss /></a>

   </column>
   <column Col col-6 col-md-3  d-flex flex-column col-lg-2>
    <h6>
     Company
    </h6>
    <a href="about">About Us</a>
    <a href="https://swapee.me" target="_blank">Wallet <spectrum-icon:link-page xss /> </a>

    <com.webcircuits.tooltip BACKGROUND="#33244c!important" BORDER_COLOR="#7d33a5!important" :position="left" :vertical-align="top-mid" :border-width="1">
     <info Test>
      <a href="#" onclick="event.preventDefault();return false">P2P <spectrum-icon:link-page xss /> </a>
     </info>
     <InnerBorderSvg opacity="0.2" />

     <span p-3 color="#ebe4ed">
      Coming&nbsp;soon.
     </span>
    </com.webcircuits.tooltip>

    <!-- <a href="press">Press</a> -->
    <a href="dev-blog/index">Dev Blog</a>
    <!-- <a href="team">Team</a> -->
    <!-- Affiliates -->
    <!-- <a href="faq">F.A.Q.</a> -->

   </column>
   <column Col col-5 col-md-3  d-flex flex-column col-lg-2  mt-3 mt-lg-0>
    <h6>
     Social
    </h6>
    <a href="twitter" target="_blank">X <spectrum-icon:link-out-light xss /></a>
    <a href="facebook" target="_blank">Facebook <spectrum-icon:link-out-light xss /></a>
    <a href="telegram" target="_blank">Telegram <spectrum-icon:link-out-light xss /></a>
    <!-- <a href="medium" target="_blank">Medium <spectrum-icon:link-out-light xss /></a> -->
   </column>

   <column Col col-7 col-md-12 d-flex flex-column col-lg-3 justify-content-center mt-3 mt-lg-0>
    <h6>
     Get Swapee App
    </h6>
    <div d-flex w-100 justify-content-between>
     <img d-none d-lg-inline-block src="./img/qr.png" alt="swapee qr code" img-fluid />

     <div d-flex flex-column mb-3>
      <span mb-3>
       <img src="./img/googlePlay.png" alt="swapee on google play" />
      </span>
      <span>
       <img src="./img/appStore.png" alt="swapee on app store" />
      </span>
     </div>
    </div>
   </column>
  </row>
 </container>

 <div border-top="1px solid #141414" w-100 margin-left="-15px" margin-right="-15px">

 </div>
 <container Wide DarkSecondary FS14 FS500 py-4>
  <row>
   <column col-12 col-md-8>
    ©<year /> Copyright Swapee Finance LTD. All Right Reserved.
   </column>
   <column text-right SubMenuCo>
    <div>
     <a href="security" mr-3>Security</a>
     <a href="privacy" mr-3>Privacy</a>
     <a href="terms">Terms</a>
    </div>
   </column>
  </row>
 </container>
</container-fluid>
