<container py-3 pb-5 pb-md-0 mb-5 mb-md-0>
 <row mb-5>
  <column col-8 offset-2 col-md-12 offset-md-0 text-center>
   <a href="https://swapee.me"><img src="./img/swapee.svg" alt="swapee logo" img-fluid /></a>
  </column>
 </row>

 <row pt-5 pt-md-0>
  <column LoginBlock offset-1 col-10 col-lg-4 offset-lg-4>
   <xyz.swapee.wc.swapee-login-page query:swapee-me=[x-swapee-me] $dev />
  </column>
 </row>
</container>

<xyz.swapee.swapee-me x-swapee-me />

<xyz.swapee.swapee-me-account query:swapee-me=[x-swapee-me] d-none />


<!-- todo: window.addEventListener('storage') -->