<div $id="TransactionInfoHead" TransactionInfoHead>
 <div $id="TransactionFoundWr" d-lg-flex justify-content-around
 align-items-center flex-wrap="wrap">
  <div d-flex InfoColLeft justify-content-between>
   <img $id="InIm" CryptoIm alt pr-2 />
   <div text-right text-lg-left>
    <span NoticeLa>
     You send:
    </span>
    <div CryptoAmount>
     <span $id="AmountIn" AmountLa Showable />
     <span $id="CryptoIn" CryptoLa Showable />
    </div>
   </div>
  </div>

  <div color="grey" d-flex flex-column align-items-center>
   <div d-none d-lg-block>
    <spectrum-icon:arrow-right />
   </div>
  </div>

  <div d-flex InfoColRight justify-content-between>
   <img $id="OutIm" CryptoIm alt pr-2 />
   <div text-right text-lg-left>
    <span NoticeLa>
     You get:
    </span>
    <div CryptoAmount>
     <span $id="AmountOut" AmountLa Showable />
     <span $id="CryptoOut" CryptoLa Showable />
     <span $id="FixedLock" EstimatedLa>
      <spectrum-icon:lock-closed />
     </span>
     <span $id="BreakdownBu" BreakdownBu x-breakdown>
      <spectrum-icon:breakdown />
     </span>
    </div>
   </div>
  </div>

  <div flex-basis="100%" height="0" d-none d-lg-block>
  </div>

  <div>
   <com.webcircuits.collapsar query:handle=[x-breakdown] :collapsed :resizeable mt-1>
    <div d-flex flex-column>
     <span $id="VisibleAmountWr" FeeLaWr>
      Rate: 1 <span $id="CryptoIn" /> ~
      <span $id="RateLa" />
      <span $id="CryptoOut" />
     </span>
     <!-- <span $id="VisibleAmounLa"/> -->
     <span $id="PartnerFeeWr" FeeLaWr>
      Service fee: <span $id="PartnerFeeLa"/>%
     </span>
     <span $id="NetworkFeeWr" FeeLaWr>
      Network fee: <span $id="NetworkFeeLa" />
      <span $id="CryptoOut" />
     </span>
    </div>
   </com.webcircuits.collapsar>
  </div>
 </div>

 <div $id="TransactionLoaderWr" d-flex flex-column align-items-center>
  <h4 $id="TransactionLoInWr">
   <span $id="TransactionLoIn" spinner-border spinner-border-sm role="status" mr-1
   /> Loading transaction...
  </h4>
  <div $id="GetTransactionErrorWr" GetOfferErrorWr d-flex>
   <h5 $id="GetTransactionErrorLa" GetOfferErrorLa mr-1 />
   <span $id="ReloadGetTransactionBu" ReloadGetOfferBu><spectrum-icon:refresh /> </span>
  </div>
  <div $id="NotFoundWr" GetOfferErrorWr d-flex>
   <h5 $id="NotFoundLa" GetOfferErrorLa mr-1>Transaction not found.</h5>
  </div>
 </div>
</div>
