{
  "title": "",
  "content": "<!area-3bc0f file=\"pages/dev-blog/index/content/0-index.html\">\n〈AREA-NEW-LINE〉\n<h1 id=\"swapee-dev-blog\" class=\"-c4b19\">Swapee Dev Blog</h1>\n\n<blockquote class=\"b-r\">\n  Engineers like to solve problems. If there are no problems handily available,\n  they will create their own problems. <em>Scott Adams</em>\n</blockquote>\n\n<ul>\n  <li><a href=\"/dev-blog/5-real-firebase-tips-and-tricks.html\">Tips</a></!area-3bc0f></li>\n</ul>",
  "file": "./index",
  "postAjax": "(function imgPostAjax() {\n  /* eslint-env browser */\n  window['IO']()\n  window['WEBP']()\n})()"
}