<com.webcircuits.collapsar $id="CreateTransactionCollapsar">
 <div $id="CreateTransactionWr">
  <form CreateTransactionForm>
   <!-- todo: generate selectors for element -->
   <label $for="AddressIn" w-100>
    Provide the <span $id="CurrencyToLa" /> address
   </label>
   <div d-flex align-items-center mb-2>
    <div InputWr d-flex align-items-center flex-grow-1>
     <input $id="AddressIn" Input placeholder="Recipient address" w-100>
    </div>

    <!-- <span ml-2 position-relative>
     <img SwapeeWallet src="img/wallet1.png" img-fluid y-address-wallet />
     <div $id="AddressPopup" MetaPopup WalletPopup position-absolute>
      <com.webcircuits.popup query:handle=[y-address-wallet] :outside-close />
      <b WalletGroupHeading d-block text-center><img src="img/metamask.png" alt height="14px" /> MetaMask Wallets</b>
      <div mt-2>
       <span data-address="0x76c5c26ddd5986a4cb3c8854b11fc500ad5f7fe0" d-block WalletAddress w-100><spectrum-icon:pop-in xs /> 0x76c5c26ddd5986a4cb3c8854b11fc500ad5f7fe0</span>
      </div>
     </div>
    </span> -->
    <div $id="WalletIn">
     <!-- inset wallet here -->
    </div>
   </div>

   <!-- todo: automatic for rendering based on the selectors -->
   <label $for="RefundAddressIn" w-100>
    Add the <span $id="CurrencyFromLa" /> refund address
    <span $id="OptionalLa" Showable>(optional)</span>
    <span $id="RequiredLa" Showable>(required due to fixed-rate)</span>
   </label>
   <div d-flex align-items-center>
    <div InputWr d-flex align-items-center flex-grow-1>
     <input $id="RefundAddressIn" Input placeholder="Refund address" w-100>
    </div>

    <div $id="WalletOut">
     <!-- inset wallet here -->
    </div>
   </div>
  </form>

  <div align-items-center mt-3 row>
   <div col col-12 col-md-8>
    <span d-flex align-items-center>
     <input $id="TocIn" TocBu type="checkbox" checked mr-2 style="accent-color:#5337a7">
     <label $for="TocIn" TocLa mb-0>
      I accept the <a href="#">Terms of Use</a> and&nbsp;<a href="#">Privacy&nbsp;Policy</a>
     </label>
    </span>
   </div>
   <div col col-12 mt-2 mt-md-0 col-md-4 pl-md-2>
    <button $id="CreateTransactionBu" NextBu w-100>
     <span NextBuNext>Next</span>
     <span NextBuLoading>Loading</span>
    </button>
   </div>
  </div>

  <div $id="CreateTransactionErrorWr" row mt-2 mt-md-0>
   <div col>
    <span $id="CreateTransactionError" text-danger />
   </div>
  </div>

  <!-- <xyz.swapee.wc.type-writer :phrases="..." /> -->
 </div>
</com.webcircuits.collapsar>