<com.webcircuits.collapsar $id="SendPaymentCollapsar" :collapsed>
 <div>

  <div StatusCo mb-2 mb-md-3 d-flex align-items-center justify-content-center
  flex-wrap="wrap" overflow-hidden position-relative>
   <!-- <com.webcircuits.loading-stripe1 $id="LoadingStripe" :duration="4s" /> -->

   <span StatusTitleLa font-weight="400">Status:</span>
   <xyz.swapee.exchange-status-title $id="ExchangeStatusTitle"
   ExchangeStatusTitle $nos mr-2 z-index="1" />

   <div flex-basis="100%" height="0">

   </div>
   <!-- <br d-md-none /> -->
   <span $id="CheckedWr" z-index="1">
    (checked <com.webcircuits.time-ago $id="PaymentLastChecked" $nos
    d-inline-block>
     <TimeInterval :hide-sec-after-min="1" />
     </com.webcircuits.time-ago>)
   </span>
   <span $id="CheckingLoIn" spinner-border spinner-border-sm role="status" ml-1 z-index="1">
    <span sr-only>Loading...</span>
   </span>

   <br/>
   _<code $id="StatusLa" d-none />_
  </div>

  <div $id="ExchangeStatusHintWr" ExchangeHint mt-2 mb-3>
   <spectrum-icon:info xs />
   <xyz.swapee.exchange-status-hint $id="ExchangeStatusHint" $nos />
  </div>


  <form $id="SendFo" SendForm>
   <label $for="PaymentAddressIn" w-100>
    Send <span $id="ConfirmedAmountFrom" />
    <span $id="TransactionCurrencyFromLa" /> payment to:
   </label>

   <div d-flex align-items-center mb-2>
    <div InputWr d-flex align-items-center flex-grow-1>
     <span $id="PaymentAddressInWr" d-inline-flex align-items-center flex-grow-1>
      <input $id="PaymentAddressIn" PaymentAddressIn Input w-100 readonly mr-2>
      <span $id="CopyPayinAddressBu" CopyBtn position-relative>
       <span $id="PayinAddressCopiedLa" ToCopy>copied</span>
       <spectrum-icon:copy m />
      </span>
     </span>
     <input $id="PaymentAddressHiddenIn" PaymentAddressHiddenIn Input w-100 readonly>
    </div>
   </div>
  </form>

  <div align-items-center row mt-2>
   <div col col-12 col-md-8>
    <div $id="SendPaymentErrorWr">
     <span $id="SendPaymentError" text-danger />
    </div>
   </div>
   <div col col-12 mt-2 mt-md-0 col-md-4 pl-md-2>
    <button $id="CheckStatusBu" NextBu w-100>
     <span $id="PaymentSentLa" NextBuNext>Payment sent</span>
     <span $id="UpdateStatusLa" NextBuNext>Update status</span>
     <span NextBuLoading>Checking status</span>
    </button>

    <button $id="RestartBu" NextBu w-100>
     <span NextBuNext>Start over</span>
    </button>
   </div>
  </div>
 </div>
</com.webcircuits.collapsar>