<com.webcircuits.collapsar $id="FinishedCollapsar" :collapsed>
 <div d-flex align-items-center justify-content-center>
  <span mr-2>
   <spectrum-icon:pending xl />
  </span>
  <div>
   <span DurationLa>exchange time:</span>
   <com.webcircuits.time-interval $id="Duration" Duration />
  </div>
 </div>
 <div $id="ReviewForm" d-none>
  <h6 mt-3>How would you rate your experience with this exchange?</h6>
  <span color="orange" d-inline-flex>
   <span mr-1>
    <spectrum-icon:star-outline />
   </span>
   <span mr-1>
    <spectrum-icon:star-outline />
   </span>
   <span mr-1>
    <spectrum-icon:star-outline />
   </span>
   <span mr-1>
    <spectrum-icon:star-outline />
   </span>
   <span>
    <spectrum-icon:star-outline />
   </span>
  </span>
  <textarea w-100 d-block my-1 border-radius="5px"></textarea>
  <div align-items-center row>
   <div col col-8>
    <div $id="AddReviewErrorWr">
     <span $id="AddReviewErrorLa" text-danger />
    </div>
   </div>
   <div col col-4 pl-2>
    <button $id="AddReviewBu" NextBu w-100>
     <span NextBuNext>Submit</span>
     <span NextBuLoading>Loading</span>
    </button>
   </div>
  </div>
 </div>
</com.webcircuits.collapsar>