<script keep>var require={paths:{'vs':'https://unpkg.com/monaco-editor@latest/min/vs' }}</script>

<script src="node_modules://monaco-editor/min/vs/loader.js"></script>
<script src="node_modules://monaco-editor/min/vs/editor/editor.main.nls.js"></script>
<script src="node_modules://monaco-editor/min/vs/editor/editor.main.js"></script>

<container-fluid>
 <row>
  <column col-md-2 p-0>
   <xyz.swapee.file-tree $dev root="maurice" heading folder="blocks" query:file-editor=[x-file-editor] />
  </column>
  <column col-md-10 p-0>
   <xyz.swapee.file-editor $dev w-100 x-file-editor>
    <Editor height="500px" />
   </xyz.swapee.file-editor>
  </column>
  </row>
</container-fluid>

<script keep>
 window.onload=()=>{
  const data={version:'1.1',tags:[{
   name:'year',description:'The year.',
   attributes:[{name:':test',description:'hello world!'}],
  }]}
  monaco.languages.html.htmlDefaults.setOptions({data: { dataProviders: [ data ]}});
 }
</script>
