<div $id="FileTree" FileTree>
 <!-- on click, expand the folder -->
 <div $id="FolderWr" FolderWr>
  <span $id="CollapsedIc">
   <spectrum-icon:chevron-right xs />
  </span>
  <span $id="ExpandedIc">
   <spectrum-icon:chevron-down xs />
  </span>

  <span $id="FolderLa" FolderLa />

  <span $id="LoIn" spinner-border spinner-border-sm role="status"
  z-index="1" float-right mr-1 />
 </div>

 <div $id="ContentWr" ContentWr>
  <div $id="Folders" Folders />
  <div $id="Files" Files />
 </div>

 <link $id="FolderTemplate" href="./Folder.html" type="_dyn" />
 <link $id="FileTemplate" href="./File.html" type="_dyn" />
</div>