<com.webcircuits.social-buttons $id="SwapeeSocialButtons" SwapeeSocialButtons>
 <XBu SwapeeButton padding="6px" />
 <EmailBu SwapeeButton />
 <FacebookBu SwapeeButton />
 <LinkedInBu SwapeeButton padding="6px" />
</com.webcircuits.social-buttons>
