<container>
 <row>
  <column>
   <xyz.swapee.swapee-me x-swapee-me />
   <!-- <xyz.swapee.wc.swapee-wallet-picker $dev query:swapee-me=[x-swapee-me] /> -->
   <!-- <xyz.swapee.wc.changelly-exchange $dev /> -->
  </column>
 </row>

 <row>
 </row>
</container>

<!-- <xyz.swapee.region-selector /> -->
<!-- testing in there also works -->

Test

<span>
 Hello
</span>
<xyz.swapee.swapee-button>
 Get This Deal
</xyz.swapee.swapee-button>

<div background="#333333" p-3>
 <span color="white">
  Hello
 </span>
 <xyz.swapee.swapee-button BACKGROUND="#0f0f0f!important" COLOR="white!important" INNER_BORDER_COLOR="#292929!important">
  Get This Deal
 </xyz.swapee.swapee-button>
</div>

<!-- 123 -->
<!-- 123 -->
<!-- <xyz.swapee.wc.irq-test $dev /> -->

<img src="./img/lock_icon.png" />
