@def BORDER 2px;
@def CLIP_PATH 10px;
@def BACKGROUND white;
@def COLOR initial;
@def INNER_BORDER_COLOR lightgrey;

.SwapeeButton {
 position:relative;
 display:inline-block;
 padding:7px;
 font-size: 12px;
 font-weight: 700;
 text-transform: uppercase;
 filter:drop-shadow(0 2px 8px #4629ff2c);
 transition:all .3s ease-in-out;
 cursor:pointer;
 user-select: none;
}
.SwapeeButton:active .BuLa {
 transform:translate(1px,1px);
}
.SwapeeButton:hover{
 filter:drop-shadow(0 4px 8px #4629ff4d);
}
.SwapeeButton:hover .BuLa {
 color:#74239c !important;
}
.BuLa {
 transition: all .23s;
 color:COLOR;
 text-decoration: none;
 display: inline-flex;
 align-items:center;
 height:100%;
 position:relative;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 6px;
 padding-bottom: 6px;
}

@defmixin swapeeClipPath(CORNER)  {
 clip-path:polygon(CORNER 0,100% 0,100% 100%,100% calc(100% - CORNER),calc(100% - CORNER) 100%,0 100%,0 100%,0 CORNER);
}

@keyframes SwapeeButtonAnimateBg {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}

.InnerBorder {
 position:absolute;
 background: BACKGROUND;
 top:BORDER;
 left:BORDER;
 right:BORDER;
 bottom:BORDER;
 @mixin swapeeClipPath(CLIP_PATH);
}

.InnerBorder::before {
 position:absolute;
 content:'';
 background: BACKGROUND;
 top:3px;
 left:3px;
 right:3px;
 bottom:3px;
 @mixin swapeeClipPath(calc(CLIP_PATH - 1px));
}
.InnerBorder::after {
 z-index: -1;
 position:absolute;
 content:'';
 background: INNER_BORDER_COLOR;
 top:2px;
 left:2px;
 right:2px;
 bottom:2px;
 /* border-radius:1px; */
 @mixin swapeeClipPath(calc(CLIP_PATH - 1px));
}

.SwapeeButton::before {
 position:absolute;
 z-index:-1;
 content:'';
 background: linear-gradient(45deg, #74239c, #4042ae, #2aafc4);
 background-size:200% 200%;
 top:0px;
 left:0px;
 right:0px;
 border-radius:1px;
 bottom:0px;
 @mixin swapeeClipPath(calc(CLIP_PATH + 1px));
}

/* .SwapeeButton::after {
 position:absolute;
 z-index:-1;
 content:'';
 top:2px;
 left:2px;
 right:2px;
 bottom:2px;
 @mixin swapeeClipPath(4px);
 background: orange;
} */

@media(min-width:576px) {
 .SwapeeButton::before {
  animation: SwapeeButtonAnimateBg 4s ease infinite;
 }
}