@def INTENSE_PURPLE #9839c9;

/* A drop-down with the 3D effect. */
.CryptoDropItem:hover {
 border-bottom-color: #170b1e;
 box-shadow: #362c50 0px 1px;
}
.CryptoDropItem.ItemHovered:hover .ItemWr {
 transform: translate(1px, 1px);
}
/* .CryptoDropItem {
 position: relative;
} */
/* .CryptoDropItem:after {
 position: absolute;
 content: '';
 top: 0;
 right: -5px;
 bottom: 0;
 left: 100%;
 background: INTENSE_PURPLE;
} */
.CryptoMenu.HoveringOverItem {
 transform: translateY(0px);
}
.CryptoMenu.HoveringOverItem > * {
 transform: translateY(0px);
}
.CryptoMenu.HoveringOverItem .CryptoMenuPad {
 box-shadow: inset 3px 3px INTENSE_PURPLE;
 z-index: 2;
}
.CryptoMenu .CryptoDropItem:first-of-type {
 border-top: 1px solid #201931;
 transition: border-top 0s;
}
.CryptoMenu.HoveringOverItem .CryptoDropItem.ItemHovered:first-of-type:hover {
 border-top: 1px solid INTENSE_PURPLE;
}
/* .HoveringOverItem */
/* .ItemHovered */
.CryptoMenu:hover .CryptoDropItem:hover:nth-last-of-type(2) {
 border-bottom: 1px solid #5d2b7a !important;
 box-shadow: #5d2b7a 0 1px !important;
}

/* BORDERS */
.CryptoDropItem:first-of-type {
 border-top-right-radius: 0.5rem;
 border-top-left-radius: 0.4rem;
 /* border-top: 1px solid #534456; */
}
.CryptoDropItem:nth-last-of-type(2),
.CryptoDropItem:last-of-type {
 border-bottom-right-radius: 0.5rem;
 border-bottom-left-radius: 0.4rem;
 /* border-top: 1px solid #534456; */
}


/* .CryptoDown::before {
 position: absolute;
 content: '';
 left: 0;
 right: 0;
 top: 0;
 height: 100%;
 bottom: 0;
 background: #5d2b7a;
} */

/* .CryptoDropItem:hover { */
 /* box-shadow: #2e2246 1px 1px; */
 /* border-bottom: 0; */
 /* 1px solid #5d2b7a; */
 /* border-bottom: 0; */
 /* border-bottom: 1px solid #5d2b7a; */
 /* box-shadow: #1f1d2b 1px 1px; */
 /* border-left:.5px solid #5d2b7a; */
 /* transform:translate(0,1px); */
 /* transform:translate(1px, -1px); */
 /* box-shadow: 0 0 0 inset #100b1c; */
/* } */
/* .CryptoMenu { */
 /* position: relative; */
 /* padding-bottom: 0.15rem; */
 /* border-bottom: 2px solid #5d2b7a; */
 /* padding-bottom: 0; */
/* } */

/* .CryptoMenu.HoveringOverItem .CryptoDropItem.ItemHovered:first-of-type:hover { */
 /* border-top: 1px solid #5d2b7a; */
 /* border-right: 1px solid #5d2b7a; */
 /* border-top-right-radius: 5px; */
 /* border-top-left-radius: 5px; */
 /* border-width: 0.1525rem; */
/* } */

/* .CryptoMenu .CryptoDropItem:first-of-type { */
 /* transition: none !important; */
 /* padding-bottom: 1px solid; */
/* } */