@def BACKGROUND_COLOR #5d2b7a8c;
@def SIZE 200px;

/* todo: basically can make a directive that exposes --x and --y as variables on
elements (while renaming them) then borrow those variable by other components. */
.BackgroundStalked {
 position: relative;
 overflow: hidden;
}
.BackgroundStalked:before {
 --size: 0;
 left: var(--x);
 top: var(--y);
 width: var(--size);
 height: var(--size);
 content: '';
 position: absolute;
 background: radial-gradient(circle closest-side, BACKGROUND_COLOR, transparent);
 transform: translate(-50%, -50%);
 transition: width 0.2s ease, height 0.2s ease;
 z-index: 9;
}
.BackgroundStalked:hover:before {
 --size: SIZE;
}