.CryptoDropItem:hover {
 border-bottom: 1px solid #48365f;
}
.CryptoDropItem {
 padding: 0.5rem;
 color: #705996;
 transition: box-shadow .5s,color,border-color .25s;
 margin-top: 0px;
 border-bottom: 1px solid #402b52;
 width: 100%;
 text-align: right;
 text-shadow: -1px -1px #100b1c;

 background: radial-gradient(#23133e,#1f1d2b);
 box-shadow: 0px -1px 0px inset #100b1c;
 cursor:pointer;
 user-select:none;

 padding-right: 1.3rem;
 padding-left: 1.3rem;
 /* border-bottom: 1px solid #5d2b7a; */
 /* display: flex; */
 /* justify-content: space-between; */
 /* align-items: center; */
}
.CryptoDropItem:hover {
 box-shadow: 0 0px 0 inset #100b1c;
 color: #8d78b1;
 /* background: radial-gradient(#451d5d,#1f1d2b); */
}
.CryptoDropItem:last-of-type {
 border-bottom: 0;
}