@def COLOR_PURPLE #5d2b7a;
@def MAX_HEIGHT 17.15rem;

.CryptoSelect {
}
.CryptoDown {
 max-height: MAX_HEIGHT;
 overflow: scroll;
}

.CryptoSelectedBl {
 border-color:#141217;
 border-radius: .75rem;
 padding: 1rem;
 color: #705996;
 backdrop-filter: blur(0.13rem);
 background: transparent;
 box-shadow: 0 0 0.8rem 3px #190636;
 transition: box-shadow .5s,color,border-color .25s;
 outline:1px solid COLOR_PURPLE;
 z-index: 1;
}
/* Sm */
/* .CryptoDown.Sm */
.CryptoSelectedBl img {
 height:1.5rem;
 /* padding-right:1rem; */
}
.LabelWr {
 margin-left:7px;
}
.CryptoSelectedBl {
 cursor: pointer;
}
input.CryptoSelectedNameIn:focus-visible {
 font-style: italic;
 /* transform: translateY(3px) skewX(-10deg); */
}
input.CryptoSelectedNameIn {
 padding: 0;
 background: transparent;
 border: 0;
 color: #705996;
 outline: 0;
 border-radius: 0;
 /* transform: translateY(3px); */
 /* transform: skewX(0deg); */
 /* transition: all .2s; */
}
input::placeholder {
 color: #705997;
}

/* The crypto select is blocked by the menu component */
/* But the menu component has not yet been initialised because it is inside the block */
/* So how to compile menu's css and get classes before the blocker */
/* Possibly extract from the css .cache */

.Menu {
 background: COLOR_PURPLE;
 box-shadow: 0 0 0.81rem 3px #190636;
 filter: drop-shadow(0 0px 6px #190636);
 border-radius: 8px;
 overflow: hidden;
 max-width:100%;
 width:100%;
 /* height: 20rem; */
}
.NetworkLabel {
 font-size: 11px;
 background: #110d1d;
 border-radius: 5px;
 padding-left: 5px;
 padding-right: 5px;
 clip-path: polygon(5px 0,100% 0,100% 100%,100% calc(100% - 5px),calc(100% - 5px) 100%,0 100%,0 100%,0 5px);
 float:right;
 color: #9987a9;
 margin-right: -4px;
 /* padding-top:3px; */
 /* padding-bottom:3px; */
}
/* .ItemWr {
 position: relative;
} */
