/* Specific adjustments for fiat icons */

.CryptoSelectedImWr.FiatIcon
,.ImgWr.FiatIcon
{
 filter: invert(0.4) sepia(1) brightness(1.5) hue-rotate(224deg);
 height: 0.9rem;
}
.CryptoDropItem .ImgWr.FiatIcon {
 transform: translateY(-1px);
}