.Highlight {
 position: relative;
}
/*highlight*/
.Highlight:after {
 background: #a99ac0c0;
 content: "";
 height: 100%;
 position: absolute;
 top: 0;
 left:-100%;
 width: 100%;
 z-index: -1;
}
.Highlight {
 /* test 12 3*/
 position: relative;
 overflow: hidden;
}
.Highlight.MouseOver:after {
 animation: pulse 1.55s cubic-bezier(.075,.82,.165,1);
 animation-fill-mode: forwards;
}
/* @gen-webkit-keyframes */
@keyframes pulse {
 0% {
  left: -100%;
  opacity: .8;
  transform: rotate(-35deg);
  border: 0 solid #705996;
 }
 100% {
  left: 100%;
  transform: rotate(-40deg);
  opacity: 0;
  border: 20px solid #705996;
 }
}