.CryptoDropItem img {
 height:1.5rem;
 /* padding-right:1rem; */
}
.CryptoSelectedImWr img {
 padding-right:1rem;
}
.CryptoDropItem {
 position: relative;
 overflow: hidden;
 top:0;
}
.ItemWr {
 z-index:10;
 width: 100%;
 height: 100%;
 position: relative;
 display:flex;
 justify-content: space-between;
 align-items: center;
}
/* .CryptoDropItem:hover .ImgWr.FiatIcon.KeyboardSelect  {
 opacity: 1;
 margin-top:-0.1rem;
} */
.CryptoDropItem {
 border-bottom: 1px solid #30264c;
}
.CryptoDropItemBeforeHover {
 border-bottom: 1px solid #521d71;
 /* border-bottom: 1px solid #381757; */
 /* border-bottom: 1px solid #4d3066; */
 /* transition: none !important; */
}
.CryptoDropItem {
 /* transform:translate(0, 1px); */
}

/* .CryptoDropItemAfterHover {
 border-bottom: 1px solid #100b1c;
} */
/* border-bottom: 1px solid #100b1c; */

.CryptoDown .CryptoDropItem:hover {
 /* transform: translateY(-1px); */
 /* height: 1.3rem; */
}
