/*
 * Add to the previous item row, add a shadow, and then when moving down in the
 * list, transfer the class to margin -10px.
 */
 .ImgWr.KeyboardSelect {
  z-index:-1;
  top: -.05rem;
  left: -.05rem;
  background: green;
  margin-left: -1rem;
  box-shadow: 1px 1px inset #40ff40;
  border-bottom: 1px solid #9798bc;
  border-right: 1px solid #8ca18c;

  margin-top: -1.8rem;
  margin-bottom: 0;
  /* margin-top: 0.1rem; */
  transition: all .5s;
  filter: blur(11.6px) invert(1) !important;
  opacity: 0;
}
.ImgWr.KeyboardSelect img {
 opacity: 0;
}
.CryptoDropItem.DropDownKeyboardFocus .ImgWr.KeyboardSelect
/* ,.CryptoDropItem:hover .ImgWr.FiatIcon.KeyboardSelect */
{
 opacity: 1;
 margin-top:-0.1rem;
}

.CryptoDropItem.OneBeforeKeyboardSelect {
 border-bottom: 1px solid rgb(92,50,103);
}
.CryptoDropItem.DropDownKeyboardFocus:not(.ItemHovered)::after {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 height: 1px;
 width: 100%;
 background: #100b1c;
 content: '';
 z-index: 10;
}