@def MENU_BORDER_RADIUS .5rem;

.Menu {
 position: relative;
}
.MenuPad {
 position: absolute;
 left: 0;
 border-radius: MENU_BORDER_RADIUS;
 padding: 2px;
 width: 100%;
 opacity: 1;

 pointer-events: all;
 transform-origin: top;
 transition: all .25s;
}
.MenuPad > .MenuContent {
 border-radius: MENU_BORDER_RADIUS;
}
.Menu.MenuCollapsed .MenuPad {
 pointer-events: none;
 opacity: 0;
 /* height: 0 !important; */
 transform: scaleY(0.5);
}
.MenuPad{
 margin-top: .3rem;
}
.Menu.MenuCollapsed .MenuPad {
 margin-top: 0;
}