/* this might be overridden by the JS controls */
.CryptoDown {
 height: 350px;
}
input {
 margin-top: 0.05rem;
 width: 1.7rem;
 transition: all .5s;
}
.CryptoSelect.SmWider input {
 width: 2.25rem;
}
.CryptoSelect.SmWide input {
 width: 2.5rem;
}
input:focus
,.CryptoSelect.Expanded input {
 width: 3rem;
 height: 1rem;
}
.CryptoSelect.SmWide input:focus
,.CryptoSelect.Expanded.SmWide input
,.CryptoSelect.Expanded.SmWideR input
{
 width: 3.5rem;
}
.CryptoSelect:hover .CryptoSelectedImWr img {
 filter: drop-shadow(0 0 2px #a538e5);
}
.CryptoSelectedImWr img {
 padding-right: .4rem;
}
img {
 height: .8rem;
}
.CryptoSelectedBl, .CryptoDropItem {
 font-size: 0.7rem;
 padding-top: 0.15rem;
 padding-bottom: 0.15rem;
 padding-left: .4rem;
 padding-right: .4rem;
}
.CryptoDown {
 /* border-width: 0.1525rem; */
 max-height: 7.05rem;
}
.InnerSpan {
 width: 90%;
}
.NoCoins {
 white-space: nowrap;
}

/* margin-top: 0.05rem; */

/* border: 3px solid #5d2b7a; */
/* border-width: calc(1rem / 16rem); */

/* .CryptoSelect.Sm .CryptoDropItem { */

 /* position: relative;
 overflow: hidden; */
/* } */

/*
.CryptoSelect.Sm input {
 margin-top: 0.05rem;
}

.CryptoSelect.Sm .CryptoSelectedBl {
 font-size: 0.7rem !important;
 padding-top: 0.15rem;
 padding-bottom: 0.15rem;
} */

/* .CryptoSelect.Sm .CryptoDown { */
 /* margin-top: 0.05rem; */
 /* padding-bottom: 0.05rem; */
/* } */