<div $id="SwapeeMeAccount" SwapeeMeAccount Showable>
 <div $id="UserBlock" d-flex align-items-center>
  <!-- <span d-flex align-items-center width="100px" height="100px" overflow-hidden> -->
  <img $id="UserpicIm" UserpicIm alt mr-2>
  <!-- </span> -->
  <span $id="UsernameLa"  mr-2 />

  <xyz.swapee.swapee-button $id="SignOutBu">
   <BuLa padding-top="3px" padding-bottom="3px" />
   Sign out
  </xyz.swapee.swapee-button>
 </div>

 <xyz.swapee.swapee-button $id="NoUserBlock" NoUserBlock>
  <BuLa padding-top="3px" padding-bottom="3px" />
  Sign in
 </xyz.swapee.swapee-button>

 <div d-none>
  Welcome to swapee.me
  Token: <span $id="TokenLa" />
 </div>
</div>