#* 5 Tips to Deploy Firebase Apps Across Regions

<!-- re: /^( *)(#+)([!*]+)?(?:\[(.+)\])? *(.+)$/gm, -->

<span Tag>firebase</span> <span Tag>cloud functions</span>
<span Tag>serverless</span> <span Tag>dev ops</span>

4 March 2024

At [Swapee](/), we set off with a task to build a resilient cryptocurrency
aggregation infrastructure right from the start. As we're a _FinTech_ startup
with a vivid vision of making low-fee crypto-transactions an everyday-reality, a
lot of new marketing activity will be generated on daily basis which, when
published (and hopefuly republished 🤞), will cause the traffic to burst
sporadically.

Hence the main requirement was that the website should be capable of scaling up
and down dependening on peaks and troughs in visitors count by-design. This is
why we chose _Firebase_<sup font-family="math">*</sup> as our cloud app hosting,
in particular for the ability to spawn serverless _Cloud Functions_<sup
font-family="math">*</sup> so that we can handle bursts gracefuly while keeping
operational costs to a minimum when not under heavy load.

<row>
 <column d-flex align-items-center flex-column justify-content-center order-1 order-lg-0>

The official _Firebase_ documentation does have the
[tips&nbsp;and&nbsp;tricks&nbsp;<spectrum-icon:link-out xs />](fb) page however
its advice, although useful, is limited to single-time execution gotchas such as
cold-start remedies. We were looking more for receipies to build a frontend that
can choose a backend in the region appropriate to the user and that info was
missing from the docs. So we'd like to offer our own house tips of how to make a
_Firebase_ app available to the global audience across multiple regions (eg.,
US/EU/Asia) effortlessly, as this question undoubtedly comes up often with those
starting to work with _Firebase_.

Moreover, we will demonstrate our _Deploy-once&nbsp;then-upgrade_ strategy for
serverless deploy, which is similar to setting up a hot-reload for the browser,
making the latest code available to the serverless back-end immediately. This
can to a degree help with situations like
[Deploying 150+ functions is very&nbsp;slow&nbsp;<spectrum-icon:link-out xs />](f150).

 </column>
 <column col-12 col-lg-6 order-0 order-lg-1 text-center>
  <img src="./img/map.png" alt="map" img-fluid webp og />
 </column>
</row>

<!-- They were derived from a practical need to be building a distributed web app
from the onset and should help new and experienced Firebase specialists with
strategies of utilising multi-region could. A lot of value comes from a unique
tip #3 (dynamic download) that shows how to not waste time on tedious redeploy
process of individual funcitons so read on. -->

<!-- of that can be deployed across
regions in no time and provide _real_ value to the reader. -->

The tips which could be interesting to both novice and expert _Firebase_
engineers, are the following:

<row align-items-center TipRow>
 <column col-12 col-md-3 col-lg-2 text-center>
  <xyz.swapee.swapee-button MySwapeeButton>
   tip&nbsp;&#x23;1
   <BuLa href="#collect-telemetry" />
  </xyz.swapee.swapee-button>
  <!-- <span position-relative d-inline-block Hex>
   <div position-absolute w-100 h-100 top="0" left="0" d-flex align-items-center
   justify-content-center>
    1
   </div>
   <img src="./img/hex.svg" alt />
  </span> -->
 </column>
 <column font-size="1.14rem">
  Store telemetry including method version, region, load and invocation times in
  _Firestore_.
 </column>
</row>

<!-- order-1 order-lg-0 -->
<row align-items-center TipRow mt-lg-1>
 <column col-12 col-md-3 col-lg-2 text-center >
  <xyz.swapee.swapee-button MySwapeeButton>
   tip&nbsp;&#x23;2
   <BuLa href="#reverse-ids" />
  </xyz.swapee.swapee-button>
  <!-- <span position-relative d-inline-block Hex>
   <div position-absolute w-100 h-100 top="0" left="0" d-flex align-items-center
   justify-content-center>
    2
   </div>
   <img src="./img/hex.svg" alt />
  </span> -->
 </column>
 <column font-size="1.14rem">
  Generate _Firestore_ IDs in reverse order so that the latest items always appear on
  top.
 </column>
</row>

<row align-items-center TipRow mt-lg-1>
 <column col-12 col-md-3 col-lg-2 text-center>
  <xyz.swapee.swapee-button MySwapeeButton>
   tip&nbsp;&#x23;3
   <BuLa href="#download-code" />
  </xyz.swapee.swapee-button>
  <!-- <span position-relative d-inline-block  Hex>
   <div position-absolute w-100 h-100 top="0" left="0" d-flex align-items-center
   justify-content-center>
    3
   </div>
   <img src="./img/hex.svg" alt />
  </span> -->
 </column>
 <column font-size="1.14rem">
  Download functions' code dynamically at invocation to avoid long redeploy process.
 </column>
</row>

<row align-items-center TipRow mt-lg-1>
 <column col-12 col-md-3 col-lg-2 text-center MySwapeeButton>
  <xyz.swapee.swapee-button MySwapeeButton>
   tip&nbsp;&#x23;4
   <BuLa href="#deploy-multiregion" />
  </xyz.swapee.swapee-button>
 </column>
 <column font-size="1.14rem">
  Deploy functions across multiple regions and add rewrites to them in hosting config.
 </column>
</row>

<row align-items-center mb-4 TipRow mt-lg-1>
 <column col-12 col-md-3 col-lg-2 text-center>
  <xyz.swapee.swapee-button MySwapeeButton>
   tip&nbsp;&#x23;5
   <BuLa href="#forward-traffic" />
  </xyz.swapee.swapee-button>
 </column>
 <column font-size="1.14rem">
  Forward traffic to the closest-region function as obtained during the previous step.
 </column>
</row>

<row my-b d-flex align-items-center>
 <column col-lg-6>
  An example of what will be achieved is the following widget. It is able to
  query up to [30+](https://firebase.google.com/docs/projects/locations)
  multi-region cloud functions in the browser, and choose the one with the best
  latency to establish future data transfers with.
 </column>
 <column col-lg-6 RegionExample my-2>
  <xyz.swapee.region-selector regions="london,iowa,sydney,tokyo" />
 </column>
</row>

It's incredible how today it's possible to set up flexible, globally distributed
web app infrastructure in just minutes. At _Swapee_, we believe that just like
the monolith, traditional banking will inevitably be replaced with blockchain
for payments. So in the meantime, if you're a professional building apps for
_Firebase_, why not accept _Bitcoin_ and _Lightning_ easily with a free
[crypto wallet](wallets), or find the
[best rate to exchange cryptocurrency](/)?


<!-- Being on technological edge, _Swapee_ is always happy to share engineering
insights and engage with various tech groups so let us know what your thoughts
were in the comments.  -->
<!-- <row>
 <column col-lg-5>

  The digest of tips outlined next could help _Firebase_ app experts to develop,
  deploy and monitor infrastructure easily. The following are discussed, and the
  future work and conclusion is presented in the end.


 </column>
 <column>

  1. Take telementry like methodVersion in t.{ClassName}.{methodName} namespace.
  1. Generate reverse _Firestore_ IDs in reverse so latest items appear on top in console.
  1. Download functions's code dynamically at invokation to avoid long redeploy process.
  1. Deploy functions across multiple regions and add rewrites to them in hosting config.
  1. Forward traffic to the closest-region function as obtained during the previous step.
 </column>
</row> -->
<!-- .so that our users across multiple regions could enjoy fast aggregation
times. -->

<p w-100 text-center>
 <img src="../../img/sep1.png" alt x2 x3 resize-to="30" />
</p>