<!doctype html>
<html lang="en" min-height="100%" class="no-js" d-flex flex-column>
  <sync-block:blog-head />

  <rename-classes />
  <quick-selector />

  <stylesheet href="./BlogLayout.css" />

  <selector-font h1 critical sans-serif weight="900">Inter</selector-font>
  <selector-font h2 critical sans-serif>Inter</selector-font>
  <selector-font h2-h6 sans-serif>Inter</selector-font>

  <!-- flex="1" -->

  <body d-flex flex-column align-items-center position-relative flex="1">
    <container-fluid background="#0B011B">
     <row py-1 align-items-center>
      <column>
       <a href="/">
        <img src="./logo.svg" alt="swapee finance" />
       </a>
      </column>
      <column text-right>
       <xyz.swapee.swapee-button BACKGROUND="#0f0f0f!important" COLOR="white!important" INNER_BORDER_COLOR="#292929!important">
        <BuLa padding-top="3px" padding-bottom="3px" />
        <spectrum-icon:show-menu />
       </xyz.swapee.swapee-button>
      </column>
     </row>
    </container-fluid>

    <container id="Content" flex-grow-1>
     {{ content }}
    </container>

    <block-footer />

    <depack-require />
    <dui profile />
  </body>
</html>
