import 'xyz/swapee/rc/testing'
import {ChangellyUniversal} from '@type.community/changelly.com'
import filterChangenowOffer from '../Testing.mvc/src/TestingService/methods/filter-changenow-offer'
import {TestingCachePQs} from '../Testing.mvc/pqs/TestingCachePQs'
import {TestingMemoryPQs} from '../Testing.mvc/pqs/TestingMemoryPQs'

export default /**@type {xyz.swapee.rc.testing}*/(<>
 <form>
 </form>
 <answers>
 </answers>
 <validation>
 </validation>
 <errors>
 </errors>
 <ctx>
 </ctx>

 <action name="filterChangellyFloatingOffer" mid="9ec7d">
  <form>
   <prop name="amountIn" />
   <prop name="currencyIn" />
   <prop name="currencyOut" />
  </form>
  <answers>
   <prop name="changellyFloatingOffer" />
  </answers>
  Loads the _Changelly_ floating offer.
 </action>

 <action name="filterChangellyFixedOffer" mid="542a9">
  <form>
   <prop name="amountIn" />
   <prop name="currencyIn" />
   <prop name="currencyOut" />
  </form>
  <answers>
   <prop name="changellyFixedOffer" />
  </answers>
  Loads the _Changelly_ fixed offer.
 </action>

 <action name="filterChangenowOffer" mid="99a35">
  <form>
   <prop name="changeNow" />
   <prop name="amountIn" />
   <prop name="currencyIn" />
   <prop name="currencyOut" />
  </form>
  <answers>
   <prop name="changenowOffer" />
  </answers>
  Loads the _Changenow_ offer.
 </action>

 <com.changelly.UChangelly>{ChangellyUniversal}</com.changelly.UChangelly>
</>)({
 filterChangenowOffer:[
  filterChangenowOffer,
 ],
 afterFilterChangenowOffer:[
  function({args:{ctx:ctx,answers:answers}}){
   const body={}
   for(const key in answers){
    const q=PQs[key]
    body[q]=answers[key]
   }
   ctx.body={data:body}
  },
 ],
})

const PQs={...TestingCachePQs,...TestingMemoryPQs}