<container>
 <row>
  <column>
   <xyz.swapee.swapee-me x-swapee-me />
   <!-- <xyz.swapee.wc.swapee-wallet-picker $dev query:swapee-me=[x-swapee-me] /> -->
   <!-- <xyz.swapee.wc.changelly-exchange $dev /> -->
  </column>
 </row>

 <row>
  <column>
   <xyz.swapee.region-selector x-region-selector />
  </column>
 </row>

 <row>
  <column col-lg-12>
   <xyz.swapee.offer-row id="TestFixedOffer">
    <OfferAmount>1010001</OfferAmount>
    <OfferCrypto>Eth</OfferCrypto>
    <Logo src="/circuits/offers-table/html/img/letsexchange-light.svg" alt="LetsExchange" />
    <Eta>4-17 min</Eta>
    <CoinIm src="./html/img/eth.png" />
    <OfferExchange>
     <ExchangeBroker :currency-to=ETH :currency-from=BTC :amount-from=0.1 :address="0x76c5c26ddd5986a4cb3c8854b11fc500ad5f7fe0" />
     <SwapeeWalletPicker query:swapee-me=[x-swapee-me] />

     <exchange-api>
      <xyz.swapee.changelly-exchange query:region-selector=[x-region-selector] />
     </exchange-api>
    </OfferExchange>
   </xyz.swapee.offer-row>

   <!-- how to make the region blocking then, -->
   <!-- region could be selected based on the region-select component installed
   on the land to other comps -->

   <!-- https://groups.google.com/g/firebase-talk/c/Ym14sCZXHMA -->
   <!-- actually just make it so that each page uses it's own layout and not
   worry about the compilation -->
   <!-- todo: pass _id in addition to id to collapsar to generate selectors but
   not add id to the html -->

   <!-- <xyz.swapee.offer-row :recommended="letsexchange-fixed" id="TestFloatingOffer">
    <OfferAmount>27272</OfferAmount>
    <OfferCrypto>ETH</OfferCrypto>
    <Logo src="/circuits/offers-table/html/img/letsexchange-light.svg" alt="LetsExchange" />
    <Eta>4-18 min</Eta>
    <CoinIm src="./html/im g/eth.png" />
    <Exchange>
     Hello world, *my exchange*.
    </Exchange>
   </xyz.swapee.offer-row> -->

  </column>
 </row>
</container>

<!-- <xyz.swapee.wc.irq-test $dev /> -->

<img src="./img/lock_icon.png" />
