<span mr-3 width="30px" position-relative>
 <img src="./img/polygon.svg" CoinImPoly Poly alt position-absolute />
 <img src="./img/polygon-best.svg" CoinImPoly PolyBest alt position-absolute />
 <!-- if: is-recommended -->
 <img src="./img/polygon-rec.svg" CoinImPoly PolyRec alt position-absolute />
 <!-- /if: is-recommended -->
 <span $id="CoinIm" CoinIm />
</span>