<div $id="OfferRow" RowWr OfferRow>
 <!-- todo: handle exclude in collapsar -->
 <!-- todo: automatically locally scoped y-selectors -->
 <row align-items-center justify-content-between InnerOfferRow
 position-relative>
  <column col-lg-6 d-flex>
   <div $id="CoinImWr" Pointer d-flex align-items-center justify-content-center>
    <link href="./CoinIm.html" type="_frame" />
   </div>
   <div OfferH>
    <h4 OfferValue position-relative>
     <div float-right>
      <span $id="BestOfferPlaque" float-right Pointer BestOfferPlaque>BEST OFFER</span>
     </div>

     <!-- $if: is-recommended -->
     <span $id="RecHandle" RecommendedPlaque d-flex float-right>
      <span mr-1>RECOMMENDED</span> <spectrum-icon:info xs />
     </span>

     <span position-absolute top="1.85rem" right="-0" left=".1rem"
     RecommendedPopup text-center>
      <com.webcircuits.popup $id="RecPopup" :outside-close />

      Swapee manager maintains direct contact with letsexchange team and is ready
      to interfere on your behalf.
     </span>
     <!-- /$if: is-recommended -->

     <div>
      <span $id="OfferCrypto" Pointer OfferCrypto />
      <span $id="OfferAmount" Pointer OfferAmount />
     </div>

    </h4>
    <p mb-0 KycInfo>
     <spectrum-icon:identity-service />
     KYC requested in exceptional cases. KYC required for refunds.
    </p>
   </div>
  </column>

  <column col-6 col-sm-7 col-md-3 col-lg-2 d-flex align-items-center mt-2
  mt-lg-0 pt-4 pb-3 pt-md-0 pb-md-0>
   <!-- $if: is-floating -->
   <img $id="FloatingIco" src="./img/floating_icon.png" alt="floating rate" mr-3 />
   <!-- /$if: is-floating -->
   <!-- $if: is-fixed -->
   <img $id="FixedIco" src="./img/lock_icon.png" alt="fixed rate" mr-3 />
   <!-- /$if: is-fixed -->
   <div EtaWr>
    <!-- $if: is-floating -->
    <p $id="FloatingLa" mb-0>Floating</p>
    <!-- /$if: is-floating -->
    <!-- $if: is-fixed -->
    <p $id="FixedLa" mb-0>Fixed</p>
    <!-- /$if: is-fixed -->

    <small $id="Eta" Eta />
   </div>
  </column>

  <column col-6 col-sm-5 col-md-3 col-lg-2 mt-2 mt-lg-0 position-relative>
   <div d-flex flex-column LogoPad>
    <img $id="Logo" img-fluid />
   </div>
   <!-- only show when collapsar is expanded but how ... -->
   <!-- <span $id="ProgressVertLine" d-none d-lg-inline ProgressVertLine ProgressVertLineLogoStub position-absolute data-hack-vert>
    |
   </span> -->
  </column>

  <column $id="GetDeal" Pointer text-center pt-3 pt-md-0>
   <xyz.swapee.swapee-button>
    <BuLa $id="GetDealBuA" GetText>GET THIS DEAL</BuLa>
   </xyz.swapee.swapee-button>
  </column>
 </row>
</div>
