.OffersFilter {
 background:#1d1531;
 border-top-left-radius:15px;
 border-top-right-radius:15px;
}

.RowOffers {
 border-left: 2px solid #CFCFD1;
 border-right: 2px solid #CFCFD1;
 border-bottom: 2px solid #CFCFD1;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
 box-shadow: 0 0 13.5px rgba(2,2,2,0.15);
 background:lightgrey;
 padding-top:5px;
}
.LogoPad {
 background: #3e3e3e;
 border-radius: 15px;
 clip-path:polygon(15px 0,100% 0,100% 100%,100% calc(100% - 15px),calc(100% - 15px) 100%,0 100%,0 100%,0 15px);
 overflow:hidden;
}
.FullPage {
 position:fixed;
 top:0;
 left:0;
 left:0;
 right:0;
 pointer-events: none;
 /* opacity: 0; */
}

.TopContainer {
 background: url('/pages/index/content/20-exchange/img/bg.png');
}
@media(max-width:576px) {
 .TopContainer {
  background: url('/pages/index/content/20-exchange/img/bg-sm.png');
 }
}
@media(max-width:768px) {
 .TopContainer {
  background: url('/pages/index/content/20-exchange/img/bg-md.png');
 }
}
.P a {
 color:#2d95bf;
 text-decoration: none!important;
}
@media(max-width:576px) {
 h1 {
  font-size: calc(2.075rem + 1.5vw) !important;
 }
}