.OffersFilter {
}

.FilterRowInputs {
 background:#1D1531;
 color: white;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.CryptoInput, .CryptoOutput {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.CryptoInput {
 /* max-width:100px; */
}
.AmountOutWr {
 overflow: hidden;
 white-space: nowrap;
}
@media(max-width:576px) {
 .CryptoSearch{
  max-width:55px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 }
 .MyCryptoSelect [data-value] {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
 }
}
.MyCryptoSelectedBl {
 outline:none !important;
 box-shadow: none !important;
 background: #1d152f !important;
 color: #b1b2b3;
 /* outline-color: #251b3d !important; */
}
.SwapCryptoBu {
 cursor: pointer;
}

.FilterFilterRow {
 background:#1D1531;
}
.FilterRowRate {
 background:#110D1D;
 padding:25px;
 color:white;
}
.FilterRowRate {
 text-transform: uppercase;
}
.CryptoSearch{
 max-width:95px;
}

.RateType {
 box-shadow: 0 0 0 0 #251B3D;
 /* transition: box-shadow .23s; */
 cursor: pointer;
 border-radius: 8px;
}

.SelectedRateType {
 background: #1D152F;
 box-shadow: 0 0 0 2px #251B3D;
}
.Showable {
 transition: opacity .35s;
}
.RowOffers {
 border-left: 2px solid #CFCFD1;
 border-right: 2px solid #CFCFD1;
 border-bottom: 2px solid #CFCFD1;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
 box-shadow: 0 0 13.5px rgba(2,2,2,0.15);
}
.LoadingWr {
 width:100%;
 height:100%;
 top:0;
 left:0;
 position: absolute;
 overflow: hidden;
 border-radius: 14px;
 opacity:.5;
 pointer-events: none;
}