{
  "title": "",
  "content": "<!area-748e7 file=\"pages/partners/changelly/content/0-index/0-index.html\">\n〈AREA-NEW-LINE〉\n<div class=\"b-z\">\n  <h1 id=\"exchange-crypto-on-changelly\">Exchange Crypto on Changelly</h1>\n</div>\n\n<!--  -->\n\n<p>add widget here 123</p>\n\n<h2 id=\"what-is-changelly\">What is Changelly</h2>\n\n<h2 id=\"latest-reviews\">Latest reviews</h2>\n</!area-748e7>",
  "file": "./changelly",
  "postAjax": "(function imgPostAjax() {\n  /* eslint-env browser */\n  window['IO']()\n  window['WEBP']()\n})()"
}