{
  "title": "",
  "content": "<!area-6d0ac file=\"pages/partners/changelly/content/0-index/0-index.html\">\n〈AREA-NEW-LINE〉\n<h1 id=\"changelly\">Changelly</h1>\n\n<!--  -->\n\n<p>add widget here</p>\n\n<h2 id=\"what-is-changelly\">What is Changelly</h2>\n\n<h2 id=\"latest-reviews\">Latest reviews</h2>\n</!area-6d0ac>",
  "file": "changelly",
  "postAjax": "(function imgPostAjax() {\n  /* eslint-env browser */\n  window['IO']()\n  window['WEBP']()\n})()"
}