<add-file>./img/bg-md.png</add-file>
<add-file>./img/bg-sm.png</add-file>
<add-file>./img/bg.png</add-file>

<container-fluid ExchangeContainerFluid WideFluid py-2 overflow-hidden>
 <block-main-top />

 <container px-lg-4 position-relative Wide>
  <div position-absolute bottom="0" right="-35px" FloatImgCo>
   <img src="./img/imgpsh_fullsize_anim.png" FloatImg img-fluid alt />
  </div>

  <row mt-3 mb-5 pt-4 pt-lg-0 align-items-center>
   <column col-12 col-lg-6 d-flex align-items-center px-0>

    <div>
     <!--  -->
     <!-- <span Easier>easier</span> -->
     <!-- white-space="nowrap" -->
     <h1 cpf Purple>
      Bitcoin has never been <br d-block d-sm-none d-lg-block Br />
      <xyz.swapee.wc.type-writer Easier :phrases="easier,safer,cheaper,faster" />
     </h1>

     <div H5 HeroCopy Purple pt-3 pt-lg-0>

      Swapee provides a safe, secure way for you to join the growing number of
      people using Bitcoin around the world.

      With our easy-to-use platform, you can buy Bitcoin online or in person
      hassle-free.

     </div>
    </div>
   </column>

   <column col-12 offset-md-2 offset-lg-0 col-md-8 col-lg-6 position-relative px-0 px-md-3>
    <div background="#1D1531" px-3 color="grey" border-radius="14px" pt-2 pb-2
    position-relative  z-index="2">
     <div d-flex w-100 justify-content-around mb-3 color="white">
  ##### Exchange
  <div opacity=".3">
  ##### Buy
  </div>
     </div>
    </div>

    <div color="#1D1531" position-relative  z-index="2">
     <span x-collapsar mt-3 d-block>
      <spectrum-icon:info /> *Receive Swapee Coins!* <spectrum-icon:chevron-down />
     </span>

     <com.webcircuits.collapsar query:handle=[x-collapsar] :collapsed mb-3>
      <div>
       When you log in with swapee.me, you will receive a cashback for each
       crypto exchange.
      </div>
     </com.webcircuits.collapsar>

    </div>
   </column>
  </row>
 </container>

</container-fluid>
