.ExchangeContainerFluid {
 background: url('/pages/index/content/20-exchange/img/bg.png');
}
.Easier {
 background: linear-gradient(60deg, #5919dd, #eb17ff, #445eff, #445eff);
 -webkit-background-clip: text;
 padding-right:.1rem;
 -webkit-text-fill-color: transparent;
}
@media(max-width:576px) {
 .FloatImgCo {
  max-width:80%;
 }
}
@media(min-width:1500px) {
 h1 .Br {
  display:none!important;
 }
}