.ExchangeIdRow {
 background:#110D1D;
 padding-top:25px;
 padding-bottom:25px;
 color:white;
 text-transform: uppercase;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.RateType {
 box-shadow: 0 0 0 0 #251B3D;
 /* transition: box-shadow .23s; */
 cursor: pointer;
 border-radius: 8px;
}
.SelectedRateType {
 background: #1D152F;
 box-shadow: 0 0 0 2px #251B3D;
}
.ExchangeIdLa {
 font-weight: 100;
 word-break: break-all;
}