<xyz.swapee.swapee-me x-swapee-me />

<container pb-3 pt-2 Wide>
 <row align-items-center>
  <column col-6 col-md-2 px-0 px-lg-2>
   <a href="index">
    <img src="img/logo_purple.png" alt="Swapee Logo" img-fluid above-fold />
   </a>
  </column>

  <column col-auto d-none d-lg-flex>
   <div pr-3 FW600>
    Ecosystem
   </div>
   <div pr-3 FW600>
    Team
   </div>
   <div pr-3 FW600>
    Vision
   </div>
   <div pr-3 FW600>
    About Us
   </div>
   <div FW600>
    Contact Us
   </div>
  </column>

  <column>
   <div float-right d-none d-lg-flex position-relative z-index="1">
    <xyz.swapee.swapee-me-account query:swapee-me=[x-swapee-me] />
   </div>
   <div float-right d-lg-none>
    <spectrum-icon:show-menu />
   </div>
  </column>
 </row>
 <!-- blocks need to rewrite the relative paths like "./" -->
</container>
