<svg $id="SwapeeLoading" SwapeeLoading version="1.1" preserveAspectRatio="none"
x="0px" y="0px" viewBox="0 0 225 260">
 <g transform="matrix(1,0,0,1,-1,-1) ">
  <path ArrowPath stroke-width="20.9" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" d="
  M 83.1 225.8
  M 142.2 34.7
  L 113.15 16.4 15.15 72.35 15.15 185.35 48.15 204.35 140.25 151.75"/>
 </g>
 <g transform="matrix(1,0,0,1,0,0)">
  <path ArrowPath stroke-width="20.9" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" d="
   M 83.1 225.8
   L 112.15 244.1 210.15 188.15 210.15 75.15 177.15 56.15 85.05 108.75
   M 142.2 34.7"/>
 </g>
</svg>