<h2 id="deploy-multiregion">
 4. Deploy to Multiple Regions and Add Rewrites
</h2>

This is not as much a tip as a prerequisite to completing our set up, which is
[fully documented <spectrum-icon:link-out-light xss />](hostingConf). It
consists of making sure that requests to different regions can be handled from
the same domain which is allowed by _Firebase_ hosting.

<row>
 <!-- <column>

```js
const map=new Map([
 ['default','europe-north1'],
 ['eu','europe-north1'],
 ['ldn','europe-west2'],
 ['us','us-central1'],
 ['ta','asia-east1'],
 ['sy','australia-southeast1'],
 ['sp','southamerica-east1'],

 ['zu','europe-west6'],
 ['wa','europe-central2'],
 ['fr','europe-west3'],
 ['pa','europe-west9'],
 ['ne','europe-west4'],
 ['be','europe-west1'],

 ['mu','asia-south1'],
 ['de','asia-south2'],
 ['si','asia-southeast1'],
 ['ja','asia-southeast2'],
 ['ho','asia-east2'],
 ['to','asia-northeast1'],
 ['os','asia-northeast2'],
 ['se','asia-northeast3'],

 ['do','me-central1'],
 ['te','me-west1'],
])
```
 </column> -->
 <column>

```json
{
 "hosting": [{
  "public": "public",
  "rewrites":[{
    "source": "/_rpc-uk/**",
    "function": {
      "region":"europe-west2",
      "functionId": "rpc-index"
    }
   },{
    "source": "/_rpc-us/**",
    "function": {
      "region":"us-central1",
      "functionId": "rpc-index"
    }
   },{
    "source": "/_rpc-jp/**",
    "function": {
      "region":"asia-northeast1",
      "functionId": "rpc-index"
    }
   },/*...*/]
 }]
}
```
 </column>
 <column>

  First of all, in order for our multi-region infrastructure to work, we need to
  create a mapping between paths and cloud functions (known as _rewriting_). To
  remove the need to couple regions and domains and introduce CORS rules, all
  functions are on the same site. The assumption is the routing will be done by
  Google's internal DNS when people hit those endpoints.

  Next, when defining a cloud function, we need to pass the `region` parameter
  as shown below. Together with the previous step, this will make sure that for
  each region, the hosting will accept requests at `/_rpc-{region}/{class-id}`
  endpoint and forward the request to the appropriate edge.

```js
module.exports.index=onRequest({
 region:[
  'europe-west2',
  'us-central1',
  'asia-south1',
  'europe-north1',
  'me-west1',
  // and others
 ],
},(req,res)=>{
 const{region,cid:classId}=parseRegion(req)
 swapee.function(req,res,classId,{region:region})
})
```
 </column>
</row>

In short, each new `region` item in the cloud function config, will instruct
_Firebase_ to deploy a function in that region when calling `firebase deploy`.
The forwarding just makes them accessible via the site. A similar approach would
be to host a dedicated site for each region however there is no possibility to
map between sites and regions and an external DNS would be required.

It is worth mentioning that downloadable method code from the previous step is
uploaded to the hosting too (aka edge for cloud functions). This is why we have
access to _Last-Modified_ and _Etag_ headers that we stored in telemetry, when
pulling sources. Although the method version is embedded into the file during
code generation, these headers can provide a quick reference when investigating
problems.

<p w-100 text-center>
 <img src="../../img/sep1.png" alt x2 x3 resize-to="30" />
</p>
