.FileTree {
 background:floralwhite;
}
.ContentWr {
 /* padding-left:1.25rem; */
 padding-left: 0.15rem;
 margin-left: 0.35rem;
 /* border-left: 1px dashed; */
}
.FileTree.Heading .FolderWr {
 text-shadow: 1px 1px white;
 cursor: pointer;
 text-transform: capitalize;
 border-radius: 6px;
 background:rgb(229, 229, 229);
 padding: 2px;
 display: inline-block;
 width: 100%;
}
.File {
 cursor:pointer;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 padding-left:5px;
}
.FileOpen {
 box-shadow: inset 0 0px 0px 1px rgb(219, 205, 170);
 border-radius: 5px;
 background:linear-gradient(0.001deg, rgb(234, 227, 208), floralwhite);
}