<div $id="SwapeeWalletPicker" SwapeeWalletPicker>
 <!-- <b WalletGroupHeading Heading d-block text-center>
  <img src="img/fav.png" alt height="14px" /> Swapee Wallets
 </b> -->

 <div $id="Wallets" />

 <div>
  <!-- creates an invoice -->
  <button $id="CreateInvoiceBu">
   <!-- <spectrum-icon:pop-in xs /> -->
   <img src="img/fav.png" alt height="14px" /> Swapee Wallet

   <span $id="InvoiceLoIn" spinner-grow-sm spinner-grow role="status" ml-2>
    <span sr-only>Loading...</span>
   </span>
  </button>
 </div>

 <div $id="SwapeeAccountWr" mt-2>
  <div $id="SwapeeLoginBu"><spectrum-icon:login xs /> Log in</div>
  <div $id="GetWalletBu"><spectrum-icon:new-item xs /> Get free wallet</div>
 </div>

 <link $id="WalletTemplate" href="./Wallet.html" type="_dyn" />
</div>

<!-- <div mt-2>
 <span d-block><spectrum-icon:new-item xs /> Get free wallet</span>
</div> -->