<div $id="Wallet" WalletAddress w-100>
 <spectrum-icon:pop-in xs />
 <span $id="WalletAddress" />
</div>

<!-- data-address="bc1qtmtr2z4rulvzjenhg4snvxwcydqsn00tdujtn7" -->
<!-- bc1qtmtr2z4rulvzjenhg4snvxwcydqsn00tdujtn7 -->
