#* Swapee Dev Blog

<block-quote>
 Engineers like to solve problems. If there are no problems handily available,
 they will create their own problems. _Scott Adams_
</block-quote>

<div card>
 [5 Tips to Deploy Firebase Apps Across Regions](dev-blog/firebaseTips)
</div>

<xyz.swapee.swapee-social-buttons />
