<xyz.swapee.offers-aggregator $fil x-offers-aggregator
query:exchange-intent=[x-exchange-intent] />

<stylesheet href="../../stylesheet/index.css">
 <circuits>
  <xyz.swapee.wc.IOffersTable>
   SelectedRateType:SelectedRateType
  </xyz.swapee.wc.IOffersTable>
 </circuits>
</stylesheet>

<container-fluid LoadingRowCo id="exchange">
 <container>
  <row LoadingRow align-items-center>
   <column>
    <com.webcircuits.collapsar x-progress-collapsar :collapsed>
     <div d-flex align-items-center justify-content-center py-3 row>
      <!-- <img src="./img/logo.svg" alt max-width="55px" max-height="60px" mr-3
      /> -->
      <div col col-3 offset-1 col-sm-2 offset-sm-3 col-lg-1 offset-md-2 offset-lg-3 offset-xl-4 text-center>
       <xyz.swapee.swapee-loading SwapeeLoading />
      </div>

      <div col>
       <h4 text-center text-sm-left>
        <span d-none d-md-inline color="#96a0a9" font-size="1rem">Exchanges checked: </span>
        <span d-md-none color="#96a0a9" font-size="1rem">Progress: </span>
        <span x-exchanges-loaded font-size="larger"/> / <span x-exchanges-total/>
       </h4>
      </div>
     </div>
    </com.webcircuits.collapsar>
   </column>
  </row>
 </container>
</container-fluid>


<div pt-md-1 pt-lg-4></div>

<container-fluid WideFluid my-md-5>
 <row mb-2>
  <column text-center>
   <h3 Purple FW800>
    Offers reset in <span x-reset-in /> sec.
    <span x-reset-now-bu ResetNowBu ml-2 mt-3 mt-md-0>
     <span d-none d-md-block>
      <spectrum-icon:refresh l />
     </span>
     <span d-md-none>
      <spectrum-icon:refresh s />
     </span>
    </span>
   </h3>
  </column>
 </row>
</container-fluid>

<container-fluid WideFluid my-md-5 px-0>
 <section container Wide OffersTableCont>
  <xyz.swapee.offers-filter query:exchange-intent=[x-exchange-intent] :allow-all
   :deal-broker-cid=1096427877 query:deal-broker=[x-deal-broker]>
   <CryptoSelectOut x-crypto-select-out />
  </xyz.swapee.offers-filter>

  <div row RowOffers mb-5>
   <div col px-0 px-sm-3>
    <container>
     <xyz.swapee.offers-table
      query:crypto-select-out=[x-crypto-select-out]
      query:progress-collapsar=[x-progress-collapsar]
      query:offers-aggregator=[x-offers-aggregator]
      query:reset-now-bu=[x-reset-now-bu] query:reset-in=[x-reset-in]
      query:exchanges-loaded=[x-exchanges-loaded]
      query:exchanges-total=[x-exchanges-total]
      query:exchange-intent=[x-exchange-intent]
     />

     <row>
      <column px-md-0>
       <div Purple text-right my-4>
        Includes all fees
       </div>
      </column>
     </row>
    </container>
   </div>
  </div>

 </section>
</container-fluid>