<div $id="RegionSelector" RegionSelector>
 <div d-none flex-column>
  <div $id="EuPingWr">
   <!-- 🇪🇺  -->
   Ping to 🇫🇮: <span $id="PingToEuLa" />
  </div>
  <div $id="LdnPingWr">
   Ping to 🇬🇧: <span $id="PingToLndLa" />
  </div>
  <div $id="UsPingWr">
   Ping to 🇺🇸: <span $id="PingToUsLa" />
  </div>
 </div>

 <div $id="SuggestedRegionWr">
  Suggested region: <span $id="SuggestedRegionLa" />
 </div>

 <!-- #fafbff -->

 <div Debug font-family="monospace">
  <!-- $if: finland -->
  <xyz.swapee.region-ping $id="RegionPingEu" :region="eu">
   <RegionFlagLa>🇫🇮 Finland, EU</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: finland -->
  <!-- $if: iowa -->
  <xyz.swapee.region-ping $id="RegionPingUs" :region="us">
   <RegionFlagLa>🇺🇸 Iowa, US</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: iowa -->
  <!-- $if: london -->
  <xyz.swapee.region-ping $id="RegionPingLondon" :region="ldn">
   <RegionFlagLa>🇬🇧 London, UK</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: london -->
  <!-- $if: sydney -->
  <xyz.swapee.region-ping $id="RegionPingSydney" :region="sy">
   <RegionFlagLa>🇦🇺 Sydney, Australia</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: sydney -->
  <!-- $if: sao-paulo -->
  <xyz.swapee.region-ping $id="RegionPingSaoPaulo" :region="sp">
   <RegionFlagLa>🇧🇷 Sao Paulo, Brazil</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: sao-paulo -->
  <!-- $if: taiwan -->
  <xyz.swapee.region-ping $id="RegionPingTaiwan" :region="ta">
   <RegionFlagLa>🇹🇼 Taiwan</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: taiwan -->

  <!-- $if: belgium -->
  <xyz.swapee.region-ping $id="RegionPingBelgium" :region="be">
   <RegionFlagLa>🇧🇪 Belgium</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: belgium -->
  <!-- $if: nerherlands -->
  <xyz.swapee.region-ping $id="RegionPingNetherlands" :region="ne">
   <RegionFlagLa>🇳🇱 Nerherlands</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: nerherlands -->
  <!-- $if: paris -->
  <xyz.swapee.region-ping $id="RegionPingParis" :region="pa">
   <RegionFlagLa>🇫🇷 Paris, France</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: paris -->
  <!-- $if: frankfurt -->
  <xyz.swapee.region-ping $id="RegionPingFrankfurt" :region="fr">
   <RegionFlagLa>🇩🇪 Frankfurt, Germany</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: frankfurt -->
  <!-- $if: warsaw -->
  <xyz.swapee.region-ping $id="RegionPingWarsaw" :region="wa">
   <RegionFlagLa>🇵🇱 Warsaw, Poland</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: warsaw -->
  <!-- $if: zurich -->
  <xyz.swapee.region-ping $id="RegionPingZurich" :region="zu">
   <RegionFlagLa>🇨🇭 Zurich, Switzerland</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: zurich -->

  <!-- $if: mumbai -->
  <xyz.swapee.region-ping $id="RegionPingMumbai" :region="mu">
   <RegionFlagLa>🇮🇳 India, Mumbai</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: mumbai -->
  <!-- $if: delhi -->
  <xyz.swapee.region-ping $id="RegionPingDelhi" :region="de">
   <RegionFlagLa>🇮🇳 India, Delhi</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: delhi -->
  <!-- $if: singapore -->
  <xyz.swapee.region-ping $id="RegionPingSingapore" :region="si">
   <RegionFlagLa>🇸🇬 Singapore</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: singapore -->
  <!-- $if: jakarta -->
  <xyz.swapee.region-ping $id="RegionPingJakarta" :region="ja">
   <RegionFlagLa>🇮🇩 Jakarta, Indonesia</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: jakarta -->
  <!-- $if: hong-kong -->
  <xyz.swapee.region-ping $id="RegionPingHongKong" :region="ho">
   <RegionFlagLa>🇭🇰 Hong Kong, Hong Kong</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: hong-kong -->
  <!-- $if: tokyo -->
  <xyz.swapee.region-ping $id="RegionPingTokyo" :region="to">
   <RegionFlagLa>🇯🇵 Tokyo, Japan</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: tokyo -->
  <!-- $if: osaka -->
  <xyz.swapee.region-ping $id="RegionPingOsaka" :region="os">
   <RegionFlagLa>🇯🇵 Osaka, Japan</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: osaka -->
  <!-- $if: seoul -->
  <xyz.swapee.region-ping $id="RegionPingSeoul" :region="se">
   <RegionFlagLa>🇰🇷 Seoul, South Korea</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: seoul -->
  <!-- $if: doha -->
  <xyz.swapee.region-ping $id="RegionPingDoha" :region="do">
   <RegionFlagLa>🇶🇦 Doha, Qatar</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: doha -->
  <!-- $if: tel-aviv -->
  <xyz.swapee.region-ping $id="RegionPingTelAviv" :region="te">
   <RegionFlagLa>🇮🇱 Tel Aviv, Israel</RegionFlagLa>
  </xyz.swapee.region-ping>
  <!-- /$if: tel-aviv -->
 </div>
</div>