@def COLOR #a70dfe;
@def COLOR2 cyan;
@def PARTICLE_SIZE 5px;
@def DURATION 23s;

.MotionPath {
 position:relative;
 display:inline-block;

 transform-origin: top left;
 /* scale:3; */
}

@keyframes move {
 0%{
  offset-distance:0%;
 }
 100%{
  offset-distance:100%;
 }
}

.Particle {
 offset-path: path('M 983.85 179.05 L 705.15 3.35 2.65 404.15 2.65 1212.3 283.35 1373.75 970.3 981.3 969.95 825 283.7 1218.15 137.7 1134.1 137.7 482.55 701.65 160.65 858.85 255.3 983.85 179.05 Z M 412.5 1457.1 L 695.15 1631.6 1397.3 1230.7 1397.3 422.2 1116.95 260.75 429.7 653.2 428.7 815.65 1116.6 416.35 1262.35 500.4 1262.35 1152.25 698.3 1474.2 544.6 1381.5 412.5 1457.1 Z');
 animation: move DURATION infinite linear;
 width: PARTICLE_SIZE;
 height: PARTICLE_SIZE;
 border-radius:50%;
 background: COLOR;

 position:absolute;
 top:0;
 left:0;
}

.Particle2 {
 background:COLOR2;
}