<div $id="Testing" Testing>
 <p mb-1>
  <label>Amount:</label> <input $id="AmountIn" readonly />

  <span $id="RatesLoIn" spinner-grow spinner-grow-sm role="status">
   <span class="sr-only">Loading...</span>
  </span>
 </p>

 <div mb-3>
  <button $id="IncreaseBu" btn btn-primary btn-sm>Increase</button>
  <button $id="DecreaseBu" btn btn-primary btn-sm>Decrease</button>
 </div>
</div>