.OffersTable {
}
.ColHeading {
  text-transform: uppercase;
  font-weight: 700;
}
@media(max-width:576px) {
 .OffersTable {
  margin-left:15px;
  margin-right:15px;
 }
}
.Hidden {
 display:none!important;
}
/* @gen-webkit-keyframes */