@def COLOR #8534BA;

.SwapeeLoading {
 max-width:100%;
}

path.ArrowPath {
 fill:none;
 stroke: COLOR;
 stroke-dasharray: 420;
 stroke-dashoffset: 420;
}
.ArrowPath {
 animation: dash 5s linear infinite;
 animation-fill-mode: forwards;
 /* animation-direction:reverse; */
}

/* .ArrowPath2 {
 stroke: COLOR;
 stroke-dasharray: 420;
 stroke-dashoffset: 420;
} */
/* .ArrowPath2 {
 animation: dash 5s linear infinite;
 animation-fill-mode: forwards;
} */

/* @gen-webkit-keyframes */
@keyframes dash {
 0% {
   stroke-dashoffset: 420;
 }
 45% {
  stroke-dashoffset: 840;
}
55% {
 stroke-dashoffset: 840;
}
 100% {
   stroke-dashoffset: 1260;
 }
}