<h2 id="download-code">
 3. Adopt Hot Redeploy Release Model
</h2>

<row align-items-center>
 <column col-12 col-lg-6 order-1 order-lg-0>
  <img src="./img/traditional.png" img-fluid alt="traditional deploy" mb-3 />
 </column>
 <column col-lg-6 col-12 order-0 order-lg-1>

  During the standard serverless deploy, the new source code of each cloud
  function needs to be uploaded to its own build container to create an image
  which will be executed by the cloud hosting upon requests. This implies that
  every smallest change in sources, even a variable rename, would require the
  function to be reuploaded, rebuilt and redistributed to containers.

  <p d-none d-lg-block>
   This could slow agile teams down and stand in the way of frictionless
   innovation as the developer is reluctant to release as often as they could.
  </p>

  <!-- That's why we reimagined _Firebase_ cloud function releases in the following
  way. -->

  <!-- As we value innovation the most, we though to approach _Firebase_ cloud function
  releases differently. -->

 </column>
</row>

<p d-lg-none>
 This could slow agile teams down and stand in the way of frictionless
 innovation as the developer is reluctant to release as often as they could.
</p>

<row align-items-center>
 <column col-lg-6 col-12>

  Under our model, there's only a single multi-region cloud function that is
  responsible for serving all requests. Although that could still be possible
  under the traditional strategy, now instead of uploading new code to the build
  container via `firebase deploy --only funcitons`, the actual image will not
  have any source code (except for dependencies), but will download the
  appropriate method from hosting at request time.

  <p d-none d-lg-block>
   This means that we can easily introduce new endpoints or modify exising ones
   by just chaning files on the hosting.
  </p>

 </column>
 <column col-12 col-lg-6>
  <img src="./img/redeploy.png" img-fluid alt="firebase hot redeploy" mb-3 />
 </column>
</row>

<!-- todo: a tag for a port on the page to avoid multiple source of truth -->
<p d-lg-none>
 This means that we can easily introduce new endpoints or modify exising ones
 by just chaning files on the hosting.
</p>

One might argue that this increases the latency because of an additional
round-trip for function source download by the could function. This is only true
for cold-starts where download time can be seen in the region of 150-200ms,
whereas once warmed up, the time of 10-15ms is observed. Moreover, Cloud
Functions runtime is sometimes [able to cache](globalCache) dowloaded code and
preserve it between invocations, driving the download/eval time to an actual 0.

I name this model _hot redeploy_ because it works similar to hot reload in the
browser, where scripts could be substituted right in the same window without
having to do a full-page refresh. Similarly, the cloud function deploy can be
viewed as hard-refresh, to avoid which we just patch object codes via CDN
upload. As a side note, this can only work with interpreted languages such as
JS whose code can be evaluated at dynamically.

<row mb-3>
 <column text-center>
  <spectrum-icon:pending xl />
  <br/>
  Time to deploy: 3 min 30s (20 regions).
 </column>
 <column text-center>
  <spectrum-icon:clock-check xl />
  <br/>
  Time to upload: *14s* total (x15 speed up).
 </column>
</row>

Understandably, if a new dependency is installed in the project, the entire
container will have to be upgraded normally. Howerver, it is a small trade-off
compared to the amount of time saved on releases especially during prototyping
stages. Finally, it is very much possible to maintain a production/development
parity and take advantage of both serverless models (traditional/hot) at the
same time.

<!-- Of course, this
tip requires that those functions can be downloaded as single files, but this is
a topic for another blog post, let us known if you're interested. -->

<p w-100 text-center>
 <img src="../../img/sep1.png" alt x2 x3 resize-to="30" />
</p>
