<h2 id="forward-traffic">
 5. Ping Endpoints and Forward Front-End Traffic
</h2>

So far, all actions that we performed were on the back-end side. Now we actually
need to do some work on the front-end. Having access to the list of endpoints
like <span class="tm2" white-space="nowrap">/rpc-uk</span>, <span class="tm2"
white-space="nowrap">/rpc-us</span>, <span class="tm2"
white-space="nowrap">/rpc-jp</span> (and 20+ more), we can now ping them from
the user's browser to see which one is the closest. However, what does it mean
"to ping" in terms of serverless?

It must be borne in mind that serverles functions have cold starts, meaning that
they might take 1500ms to spawn when executed for the first time in a long time.
It wouldn't be fair to measure ping based on the request roundtrip time, because
some regions might have been warmed up and others not. So the only real way to
measure ping, is between dates when server response was sent, and received by
the browser.

<div RegionExample padding-left="5px" mb-3>
 <xyz.swapee.region-selector regions="paris,iowa,seoul,tel-aviv,sao-paulo" />
</div>

In widget above, I selected a couple more regions for illustration. The first
number is the time between sending request from browser and server spawning the
function and starting to handle the request. The second, much smaller number, is
the time between server responding and client receiving the response. We can
then take all second numbers, and pick the smallest.

Usually, the difference of 50ms in ping is enough to accurately choose between
broader regions. Of course, sometimes the transfer speed can be affected
somewhere along the way at random, so a few samples should be taken. This might
delay the time to start loading data on the website, but if done in first 1-2
seconds while users are still reading the intro, it's not a big deal. Plus once
the region is obtained, it can be cached in local storage.

<p w-100 text-center>
 <img src="../../img/sep1.png" alt x2 x3 resize-to="30" />
</p>
