@def SWAPEE_PURPLE #5337a7;
/* @def SWAPEE_CYAN #2e8dbe; */
/* todo: put defs and mixins in a separate file and load it via the config */

.OfferExchange {}

.CopyBtn {
 color:#3e3e3e;
 z-index:1;
 cursor:pointer;
}
.CopyBtn:hover {
 color:SWAPEE_PURPLE;
}
.NextBu {
 padding: 7px;
 border-radius:3px;
 background:SWAPEE_PURPLE;
 /* if we were importing mixins, then from where? */
 clip-path:polygon(10px 0,100% 0,100% 100%,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%,0 100%,0 10px);
 transition: all .23s;
 color:white;
 font-size:1.05rem;
 border:0;
 font-weight: 500;

 outline:none !important;
 -webkit-appearance: none !important;
}
.NextBu[disabled] {
 background:#8a8a8a;
 cursor: not-allowed;
}
.NextBu.Loading
a {
 color:SWAPEE_PURPLE !important;
}
input.Input {
 height: 2.3rem;
 padding-left: 9px;
 border: 0;
 border-radius: 5px;

 outline:none;
 -webkit-appearance: none;
 clip-path:polygon(8px 0,100% 0,100% 100%,100% calc(100% - 8px),calc(100% - 8px) 100%,0 100%,0 100%,0 8px);
 /* margin-left:2px; */
}
.InputWr {
 position:relative;
 padding-left:2px;
 padding-right:2px;
 /* z-index:1; */
}
.InputWr::before {
 opacity:0;
 transition:opacity .15s;
}
.InputWr.InputActive::before {
 opacity:1;
}
/* todo: swapee-input component */
.InputWr::before {
 position:absolute;
 /* z-index:-1; */
 content:'';
 background: linear-gradient(60deg, #5919dd, #eb17ff, #445eff, #445eff,#2599ab);
 background-size: 600% 600%;
 top:-2px;
 left:0px;
 right:0px;
 bottom:-2px;
 clip-path:polygon(9px 0,100% 0,100% 100%,100% calc(100% - 9px),calc(100% - 9px) 100%,0 100%,0 100%,0 9px);
 /* clip-path:polygon(11px 0,100% 0,100% 100%,100% calc(100% - 11px),calc(100% - 11px) 100%,0 100%,0 100%,0 11px); */
 border-radius:7px;
}
@media(min-width:576px) {
 .InputWr::before {
  animation: AnimateBg1 8s ease infinite;
 }
}
input.Input:focus, input.Input:focus-visible {
 outline: none;
}
input[type=checkbox] {
 /* : #73239B; */
}
.NextBu:not([disabled]):hover {
 background:white;
 color:SWAPEE_PURPLE;
}
form label {
 font-size:12px;
}
.TocBu {
 width:16px;
 height:16px;
}
@media(max-width:576px) {
 .TocBu {
  width: 32px;
  height:32px;
 }
}
@keyframes AnimateBg1 {
 0%{background-position:0% 50%}
 50%{background-position:100% 50%}
 100%{background-position:0% 50%}
}


.ProgressCircleWr1 {
 display:inline-block;
 width:20px;
 height:20px;
 text-align: center;
 margin-right:7px;
}
.ProgressCircle1 {
 background   :grey;
 width:          20px;
 height:         20px;
 display:inline-block;
 border-radius:   50%;
}
.ProgressCircle1.CircleLoading1 {
 animation: CircleLoading1 1s infinite;
}
.ProgressVertLine1 {
 bottom: -14px;
 left: 8px;
}
.ProgressVertLine1{
 font-size: 8px;
 font-weight: 500;
 color: grey;
 text-shadow: 1px 1px #dfdfdf;
}
@keyframes CircleLoading1 {
 0%{
  scale: 0;
 }
 100%{
  scale: 1;
 }
}
.SwapeeWallet {
 cursor:pointer;
 max-height:2rem;
}
.MetaPopup {
 top:0;
 right:0;
}
.WalletPopup b {
 padding-bottom: .4rem;
 padding-top: 2px;
 border-bottom: 1px solid #2c2c2c;
 box-shadow: 0 1px 0 #5d5d5d;
}
.WalletPopup {
 background: #3f3f3ff0 !important;
 /* background: #3f3f3f !important; */

 font-size: 14px;
 width: 175px;
 padding: 4px 6px;
 color:#cfcfcf;
}
.RefundPopup {
 padding-right: 11px !important;
}
.WalletAddress{
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
 cursor:pointer;
 border-radius: 3px;
 padding:3px;
 user-select: none;
 font-size:13px;
 /* padding-right:3px; */
}
.WalletAddress:hover{
 background:rgba(190, 190, 190, 0.182);
}
@media(max-width:576px) {
 .ProgressColumn_Step1 {
  margin-top:-1.5rem;
 }
 .ProgressColumn_Step1ProgressCircleWr {
  opacity:0;
  pointer-events:none;
 }
 .ProgressColumn_Step1La{
  opacity:0;
  pointer-events:none;
 }
}
.WalletGroupHeading:not(:first-child) {
 margin-top:.25rem;
}
.Loading .NextBuNext {
 display:none;
}
.NextBuLoading {
 display:none;
 cursor: wait;
}
.Loading .NextBuLoading {
 display:initial;
}
.MyBorderBg polygon {
 stroke:#363636 !important;
}
.MyBorderBg2 polygon {
 stroke:#e8e2ff28 !important;
}

.PopupBu {
 background:none;
 width:100%;
 /* background:rgba(122, 122, 122, 0.182); */
 /* padding-top: 4px; */
 /* padding-right: 4px; */
 /* padding-left: 4px; */
 /* padding-bottom: 4px; */
 padding:4px;
 border-radius: 4px;
 color: #cfcfcf;
 cursor: pointer;
 /* margin-top:3px; */
}
.PopupBu:hover{
 background:rgba(190, 190, 190, 0.182);
 color: #ffffff;
}
.ExchangeApi {
 position:absolute;top:0;left:0;right:0;bottom:0;
}
.ExchangeHint {
 /* font-size: smaller; */
 color: #66588f;
 font-style: italic;
}
.ExchangeHint.HintRed {
 color:#9c2323;
 backdrop-filter: blur(3px);
}
.PaymentReceived .PaymentAddressIn, .PaymentAddressHiddenIn {
 background: #b7b7b7;
 color: grey;
 text-shadow: 1px 1px #ffffff47;
}

.DurationLa {
 font-size: smaller;
 color: grey;
 display: block;
 text-align: center;
 line-height: 1;
}
.Duration {
 font-size:1.5rem;
}

.StatusCo {
 text-align: center;
 background: linear-gradient(0.0001deg,#d2d2d4, white);
 border-radius: 7px;
 border-top: 1px solid grey;
 margin-top: 0.25rem;
 padding-top: 0.25rem;
 padding-bottom: 0.25rem;
 box-shadow:0px -2px 3px 0px #c6c6c6;
}
.ExchangeStatusTitle {
 font-size:1.7rem;
 text-shadow: 1px 1px white;
}
.StatusTitleLa {
 display:none;
}
.ExchangeStatusTitle svg {
 width:2rem;
 height:2rem;
}
@media(max-width:576px) {
 .ExchangeHint {
  font-size: smaller;
 }
 .TocLa {
  /* font-size:15px; */
  text-align: right;
  margin-bottom:.15rem;
  /* display: inline-block; */
 }
 .StatusCo {
  text-align: center;
  background: linear-gradient(0.0001deg,#d2d2d4, white);
  border-radius: 7px;
  border-top: 1px solid grey;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-shadow:0px -2px 3px 0px #c6c6c6;
 }
 .ExchangeStatusTitle {
  font-size:1.6rem;
  text-shadow: 1px 1px white;
 }
 .ExchangeStatusTitle svg {
  width:2rem;
  height:2rem;
 }
 .StatusTitleLa {
  display:none;
 }
 .CreateTransactionForm label, .SendForm label {
  font-size:.85rem;
 }
 .ProgressColumn .StepLa {
  font-size:1.2rem;
 }
}
@media(min-width:576px) {
 .TocLa {
  font-size:smaller;
 }
 .SendForm{
  margin-bottom:2rem;
 }
}
.Duration {
 font-family: monospace;
}

.ToCopy {
 position:absolute;
 top:-1rem;
 right:0;
 transition: all .3s;
 opacity:0;
 pointer-events:none;
}
.ToCopy.Copied {
 top:-2rem;
 opacity:1;
}
.ToCopy.CopiedRemoving {
 top:-3rem;
 opacity:0;
}
.MobInfo {
 border: 1px solid #110d1d;
 border-radius: 5px;
 background: #e4e2e2;
}
.Showable {
 transition: opacity .35s;
}
.KycMobileBlock {
 margin-left: -7px;
 margin-right: -7px;
 padding-top: 7px;
}