<row align-items-center id="reverse-ids">
 <column col-lg-3>
  <h2 d-lg-none>
   2. Generate Reverse Firestore IDs
  </h2>

  <p text-center>
   <img src="./img/filter1.png" alt="adding filter" img-fluid BlogImage />
  </p>
  <p font-family="Source Code Pro; monospace">
   Fig 2: sorting data records by date
  </p>
 </column>
 <column col-lg-9>

  <h2 d-none d-lg-block>
   2. Generate Reverse Firestore IDs
  </h2>

<!-- F  in  helps to visualise
   the latest records. -->
   <!-- descending order -->

  Unless the table is sorted by `Date` in descending order as shown in Fig 2,
  new records will appear in random order when using the default _Firestore_ ID
  generator. Date-based filtering has a number of downsides such as it requires
  the presence of the date field, and also it's not clear how fast it works
  (unless an index is added) when needing to sort often: for example, when
  reading the latest available logs as in the case with _Telemetry_.

  A solution that can work without a filter is to create an ID manually using an
  algorithm on the host machine. The initial approach was to use a MongoDB's
  _ObjectId_ as it produces sequential IDs, however still not in the decending
  order.

  So I thought to take the standard _ObjectId_ like `507f1f77bcf86cd799439011`,
  convert it into a number, then subtract that number from some large int, to
  make that value appear decrementing. Since Mongo's ObjectID is a 12-byte
  integer, the `.readBigInt64LE` method from the Buffer API wouldn't help as 64
  bit is 8-bytes only, so the convertion to a number would be done as:
 </column>
</row>

```js
// https://stackoverflow.com/a/12965194/21926017
function byteArrayToLong(/*byte[]*/byteArray) {
 var val=0
 for ( var i = byteArray.length - 1; i >= 0; i--) {
  val = (val * 256) + byteArray[i]
 }
 return BigInt(val)
}
```

<!-- In addition, there was an example of incorrect implementation of convertion
between buffers and integers as shown in the example, which does not account for
integers larger than 64 bits (readBigInt64LE) which means that a 12-byte
(12*8=96bit) MongoId wouldn't fit in it.

```js
/**
 * https://stackoverflow.com/a/73435872/21926017
 * incorrect - does not work for >8 bytes, reference only
 */
function intFromBytes(x) {
  return x.readBigInt64LE();
}
``` -->

<img src="./img/bg-sm.png" d-none />


<!--

```js
for(let i=0;i<100;i++){
 var o=new ObjectId()
 var value=byteArrayToLong(o.id)
 console.log(value)
}
```
 -->


<row>
 <column col-lg-5 col-xl-4 col-md-12 col-12 text-center order-1 order-lg-0>
   <img mb-2 src="./img/pattern3_1.png" alt="big ints for ids" img-fluid Fig />
 </column>
 <column col-lg-7>

   I then proceeded to generate a 100 IDs to see how well they can be converted
   into a number and whether this is a feasible strategy.

   Although there was a pattern in generated IDs, they seem to be incrementing
   only up to a "breaking point" after which they reset to another value which
   makes the method unreliable. Therefore this implementation of reverse-ids was
   discarded.

   This is not to mention that the second group of 5 bytes in any object id, is
   a random number which would make logs scrambled when deployed as multiple
   cloud function instances across regions.

 </column>
</row>


Another good candidate for generating IDs (as I thought at the time) was to use
`process.hrtime.bigint`. I knew it was capable of generating large integers like
`1653802261902549n`, so I thought these can be used as IDs. Howerver what I
didn't account for, is that those big ints actually constist of 2 parts, like
`1653802` and `261902549`, where the first number is the number of uptime
seconds, and the second is nano-seconds. Hence while it was appearing to work
fine on the same machine locally, when deployed as different functions, the ID
woulnd't be either sequential or unique.

<row>
 <column order-1 order-lg-0>

  The final solution was the simplest &mdash; to take the current timestamp, and
  include the number of micro-seconds to it to avoid collisions. Additionally,
  borrowing on the [Mongo's idea](objectId), we'll then add a random number
  generated once per process to add entropy (e.g., even if 2 requests came to 2
  different regions at the same micro-second time, the log record would still be
  unique because of this pid). This should produce stable IDs that appear in
  reverse order.

 </column>
 <column col-12 col-lg-5 order-0>
  <img mb-2 src="../0-intro/img/cloud-id.png" img-fluid alt="firebase reverse ids" />
 </column>
</row>

```js
const getRandom=()=>{
 let rnd=Number((Math.random()*1000).toFixed())
 const pad=3-`${rnd}`.length
 rnd=`${`0`.repeat(pad)}${rnd}`
 return rnd
}

const PID=getRandom() // generated once per-process

export const getId=()=>{
 const micro=`${process['hrtime']()[1]}`.slice(3,6)
 const precise=Date.now()+micro
 const refNum=Number('9'.repeat(precise.length))
 const v=refNum-Number(precise)
 return v+PID
}
```

<p w-100 text-center>
 <img src="../../img/sep1.png" alt x2 x3 resize-to="30" />
</p>