<div $id="BorderMotionPath" BorderMotionPath>
 <!-- The circuit content. -->
 <div $id="ParticlesWr" ParticlesWr />
 <com.webcircuits.client-rect $id="ClientRect" $nos />

 <svg width="350px" height="350px" xmlns="http://www.w3.org/2000/svg" position-absolute>
  <path $id="Path" fill="transparent" stroke="red" />
 </svg>
</div>