<!doctype html>
<html lang="en" h-100 class="no-js">
  <block-head />

  <rename-classes />
  <quick-selector />

  <stylesheet href="./AdminLayout.css" />

  <selector-font h1 critical sans-serif weight="900">Inter</selector-font>
  <selector-font h2 critical sans-serif>Inter</selector-font>
  <selector-font h2-h6 sans-serif>Inter</selector-font>

  <body d-flex flex-column h-100 position-relative>
    <main flex-shrink-0 flex-grow-1 id="Content">
     {{ content }}
    </main>

    <depack-require />
    <dui profile />
  </body>
</html>
