{
  "title": "Crypto Aggregator — Swapee",
  "content": "<!area-b5f50 file=\"pages/motion-path/content/10-index.html\">\n〈AREA-NEW-LINE〉\n<div class=\"container-fluid position-relative\" style=\"background:#0b011b;height:450\">\n  <img data-io alt>\n  <noscript><img src=\"pages/motion-path/content/motion-path.svg\"></noscript>\n  <div id=\"motion-demo\"></div>\n</div>\n</!area-b5f50>",
  "file": "motion-path",
  "postAjax": "(function imgPostAjax() {\n  /* eslint-env browser */\n  window['IO']()\n  window['WEBP']()\n})()"
}