{
  "title": "Crypto Aggregator — Swapee",
  "content": "<!area-71d23 file=\"pages/ping/content/10-index.html\">\n〈AREA-NEW-LINE〉\n<div class=\"b-z\">\n  <div class=\"b-B\">\n    <div class=\"b-D\">\n      <!area-f06cf file=\"maurice/circuits/swapee-me/html/SwapeeMeBlock.html\">\n      〈AREA-NEW-LINE〉\n      <div id=\"cec88\" data-cid=\"6200449439\" data-ab70c=\"https://swapee.me/api\" data-94a08=\"\" data-x-39e15 class=\"-ec807\">\n      </div>\n      \n      <!-- todo: need an abstraction for loaders --></!area-f06cf>\n      <!-- <xyz.swapee.wc.swapee-wallet-picker $dev query:swapee-me=\"[data-x-39e15]\"/> -->\n      <!-- <xyz.swapee.wc.changelly-exchange $dev/> -->\n    </div>\n  </div>\n  <div class=\"b-B\"></div>\n</div>\n\n<!-- <xyz.swapee.region-selector/> -->\n\n<p>Test</p>\n\n<span>\n Hello\n</span>\n<!area-77391 file=\"maurice/circuits/swapee-button/html/SwapeeButtonBlock.html\">\n〈AREA-NEW-LINE〉\n<span role=\"button\" class=\"-d5203\">\n <div class=\"_c37-b\"></div>\n <a href=\"javascript: void 0\" data-id=\"ie9d1\" class=\"_c37-a\">Get This Deal</a>\n</span></!area-77391>\n\n<!-- 123 -->\n<!-- 123 -->\n<!-- <xyz.swapee.wc.irq-test $dev/> -->\n\n<img data-io src=\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17'/%3E\" alt>\n<noscript><img src=\"pages/ping/content/img/lock_icon.png\"></noscript>\n</!area-71d23>",
  "file": "ping",
  "postAjax": "(function imgPostAjax() {\n  /* eslint-env browser */\n  window['IO']()\n  window['WEBP']()\n})()"
}