.OfferExchangeInfoRow {
 margin-bottom:10px;
}

.CryptoLa {
}
.AmountLa {
}
.NoticeLa,.FeeLaWr {
 /* opacity:.5; */
 color:grey;
 font-size:14px;
}
.CryptoIm {
 filter:grayscale(1);
 align-self: center;
}
.CryptoIm > * {
 max-width:100%;
}
.CryptoAmount {
 font-size: 1.3rem;
}
.GetOfferErrorWr {
 color:rgb(209, 86, 121)
}
.ReloadGetOfferBu {
 cursor:pointer;
}
@media(max-width:576px) {
 .InfoColLeft, .InfoColRight {
  width:100%;
 }
}
.BreakdownBu {
 cursor: pointer;
}
.AmountLa {
 font-weight:100;
}
/* todo: could this be wrappable */
.Showable {
 transition:opacity .35s;
}