.SwapeeLoginPage {
}
.Label {
 font-weight: 700;
}
input {
 height:3rem;
 display: inline-block;
 border-radius: 13px;
 background:lightblue;
 color:darkslategrey;
}
.LoginBu {
 border-radius:13px;
 background:black;
 color:white;
}
.LoginBu[disabled] {
 background:grey;
}