<container-fluid background="#0B011B" CurrencySlide>
 Tickers in here
</container-fluid>

<!-- <section-break/> -->
<!-- <xyz.swapee.wc.crypt-select $dev /> -->

<xyz.swapee.aggregator-page-circuit query:exchange-intent=[x-exchange-intent]
 FullPage />
<xyz.swapee.exchange-intent x-exchange-intent FullPage />
<xyz.swapee.deal-broker-aggregator-adapter x-deal-broker FullPage
 query:offers-aggregator=[x-offers-aggregator] />
