:root{
 --txt_dark: #141414;
 --txt_purple: #5A19DD;
 --white: #fff;
 --dark: #000;
 --border_silver: #dee2e6;
 --txt_dark_secondary: #334155;
 --txt_light_secondary: #96a0a9;
 --txt_purple2: #130926;
}

.Silver{
 color: #b1b2b3 !important;
}
.White{
 color: white !important;
}
.Purple {
 color: #8534BA !important;
}
.LighSecondary {
 color:#96a0a9 !important;
}
.DarkSecondary {
 color:#334155 !important;
}
.Secondary {
 color:#96a0a9 !important;
}
.H5 {
 font-size: 1.25rem;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2 {
 font-size: calc(1.325rem + .9vw);
}
.H5 {
 font-size:1.25rem;
}
@media (min-width: 1200px){
 .H1, h1 {
     font-size: 2.5rem;
 }
}
@media (min-width: 1200px){
 .H2, h2 {
     font-size: 2rem;
 }
}
.FS12 {
 font-size:12px;
}
.FS14 {
 font-size:14px;
}
@media (min-width: 1400px){
 .WideFluid > .Wide {
   max-width: 86vw;
 }
}
.FW800 {
 font-weight: 800!important;
}
.FW700 {
 font-weight: 700!important;
}
.FW600 {
 font-weight: 600!important;
}
.FW500 {
 font-weight: 500!important;
}
.FW400 {
 font-weight: 400!important;
}
.FW300 {
 font-weight: 300!important;
}
/* test */

.FullPage {
 position:fixed;
 top:0;
 left:0;
 left:0;
 right:0;
 pointer-events: none;
 /* opacity: 0; */
}