<div $id="OffersFilter" OffersFilter>
 <row FilterRowInputs position-relative z-index="100">
  <column col-lg-5 z-index="100">
   <p Silver FS14 FW700 mt-3 mb-3>
    Send
   </p>
   <div $id="InWr" p-4 background="#110D1D" mt-2 mb-lg-4 d-flex border-radius="14px"
   justify-content-between position-relative>
    <div LoadingWr>
     <com.webcircuits.loading-stripe $id="ConcealWhenReady" />
    </div>

    <div d-flex flex-column justify-content-center flex-grow-1 mr-1>
     <input $id="AmountIn" Showable CryptoInput H5 Silver FW500 border-0
     background="none" White w-100>
     <!-- px-1 -->
     <!-- <span x-value-in Silver FS14 FW500>
      ≈100 USD
     </span> -->
    </div>
    <!-- because it already has some data, new props won't be added -> can this
    be mitigated with the blocker rendering? -->
    <xyz.swapee.crypto-select $id="CryptoSelectIn" MyCryptoSelect $nos>
     <CryptoSelectedNameIn CryptoSearch />
     <CryptoMenu margin-top="5px" />
     <CryptoSelectedBl MyCryptoSelectedBl />
     <InnerSpan $id="ShowWhenSelectedIn" Showable />
    </xyz.swapee.crypto-select>
    <!-- <input H5 FW500 value="1.008" Silver border-0 background="none" White />
    <div Silver>
     BTC
    </div> -->
   </div>
  </column>

  <column col-lg-2 d-lg-flex align-items-center justify-content-center d-none>
   <splendid-img $id="SwapBu" SwapCryptoBu src="./img/arrowExchangeBlock.png" img-fluid alt="swap direction" mt-4 />
  </column>

  <column col-lg-5>
   <div Silver FS14 FW700 mt-2 mb-2 mt-lg-3 mb-lg-3 d-flex align-items-center>
    <p mb-0 flex-grow-1>
     Get up to
    </p>

    <span position-relative mr-2 d-lg-none>
     <splendid-img $id="SwapBu" SwapCryptoBu src="./img/arrowExchangeBlock.png"
     img-fluid alt="swap direction" />
     <!-- <img src="./img/polygon.svg" alt />
     <span position-absolute top="9px" left="8px" transform="rotate(90deg)">
      <spectrum-icon:switch />
     </span> -->
    </span>

   </div>
   <div $id="OutWr" p-4 background="#110D1D" mt-2 mb-4 d-flex
   border-radius="14px" justify-content-between position-relative>
    <div LoadingWr>
     <com.webcircuits.loading-stripe $id="ConcealWhenReady" />
    </div>
    <!-- <input $id="AmountOut" CryptoInput H5 Silver FW500 border-0 background="none" White> -->
    <!-- <div Silver>
     ETH
    </div> -->
    <div d-flex flex-column justify-content-center AmountOutWr>
     <span $id="AmountOutLoIn" spinner-border spinner-border-sm role="status" ml-1 z-index="1">
      <span sr-only>Loading...</span>
     </span>

     <div $id="AmountOut" CryptoOutput H5 x-amount-out Silver White FW500 />
     <!-- <div x-value-out-wr Silver FS14 FW500>≈<span x-value-out>100</span> USD</div> -->
    </div>
    <xyz.swapee.crypto-select $id="CryptoSelectOut" MyCryptoSelect $nos>
     <CryptoSelectedNameIn CryptoSearch />
     <CryptoMenu margin-top="5px" />
     <CryptoSelectedBl MyCryptoSelectedBl />

     <InnerSpan $id="ShowWhenSelectedOut" Showable />
    </xyz.swapee.crypto-select>
   </div>
  </column>

  <column col-12>
   <p $id="MinAmountWr" flex-grow-1 text-danger>
    <spectrum-icon:info-outline /> The minimum amount for the pair is <a $id="MinAmountLa" href="#" color="inherit" text-decoration="underline" />
   </p>
   <p $id="MaxAmountWr" flex-grow-1 text-danger>
    <spectrum-icon:info-outline /> The maximal amount for the pair is <a $id="MaxAmountLa" href="#" color="inherit" text-decoration="underline" />
   </p>
  </column>
 </row>

 <!-- <row d-none>
  <column d-flex align-items-center>
   <p flex-grow-1 color="#2aafc4" mb-0>
    You can save $100
   </p>

   <span x-rate-type-handle Silver position-relative cursor="pointer">
    <span pr-2>Filter</span>
    <img src="./img/polygon.svg" alt />
    <span position-absolute top="8px" right="7px">
     <spectrum-icon:filter />
    </span>
   </span>
  </column>
 </row> -->

 <row FilterRowRate>
  <column d-flex justify-content-around FS14>
   <!-- $if: allow-all -->
   <div $id="AnyLa" RateType SelectedRateType px-4 py-2 mx-md-3 d-flex align-items-center>
    All
   </div>
   <!-- /$if -->
   <div $id="FloatingLa" RateType SelectedRateType px-4 py-2 mx-md-3 d-flex align-items-center>
    Floating <img src="./img/floating_icon.png" alt ml-3 />
   </div>
   <div $id="FixedLa" RateType px-4 py-2 ml-md-3 d-flex align-items-center>
    Fixed <img src="./img/lock_icon.png" alt ml-3 />
   </div>
  </column>
 </row>
</div>