.FooterBg {
 background: url('/blocks/footer/img/footer1.png');
 background-size: cover;
}
.FooterCo a {
 transition: color .3s;
}
.FooterCo .MenuCo a {
 color: var(--txt_light_secondary);
}
.FooterCo .SubMenuCo a {
 color: var(--txt_dark_secondary);
}
.FooterCo a:hover {
 color: var(--txt_purple);
 text-decoration: none;
}
.FooterCo h6 {
 text-transform: uppercase;
 color: #CFCFCF;
}
.FooterCo .Col {
 line-height:2;
}