<container mb-4>
 # Why I Created Swapee

 <block-quote>
  A letter from the founder
 </block-quote>

 <row align-items-center>
  <column col-lg-6 text-center mb-3>
   <img src="./img/resize.jpg" alt webp img-fluid border-radius="5px" og />
  </column>
  <column>

   Hello folks, my name is Jason Bates and in 2022 I founded Swapee &mdash; an
   all-things-crypto digital service aimed at making cryptocurrency payments a
   thing of the present. As you might know, in England we have this bitter-sweet
   relationship with a special group of people, known as _the bankers_ &mdash;
   out politicians love and bail them, while the rest are... not so fond of
   them. So I thought, why do us, the simpler people, have to resort to the
   usuric tradition of delegating control of economic aspects of our lives to a
   3rd party that does nothing more than changes a couple of bytes on their
   servers? The British pride, being one of the fundamental forces of the
   universe, pushed me to research the question whether we can move away from
   the traditional and centralised payments model to the one where people can
   cooperate without the Big Financier.

  </column>
 </row>

 <row mb-3>
  <column>
   After extensive research, I found out that it's not easy for ordinary
   citizens to use the most well-known cryptocurrency, _Bitcoin_ due to a number
   of reasons. First of all, it requires the account holders to be somewhat
   technically-savy to be able to setup a wallet accept payments and make
   transfers themselves. Secondly, the long transaction times are still an
   issue: many shop owners need to receive a verified payment instantly without
   being blocked by confirmations. Thirdly, as there's no centralised authority,
   there's no customer service and in case of problems the users would be left
   to themselves, or worse, fall in hands of scammers. This is why I came up
   with _Swapee_: the right way to do crypto. With layer-2 Lightning blockchain
   network, the transaction times are removed, and with our wallet service
   people can send and receive instant payments. Our support team works around
   the clock to support customers on their crypto-journey.

  </column>
 </row>
 <row>
  <column>

   As I mentioned, my initial focus was on small-shop owners and I spent days
   walking around the city, hoping to spark interest in the hearts of people,
   because I personally loved Bitcoin. And the response was amazing: folk was
   fascinated about keeping up-to-date with the technology, as well as in not
   having to pay the banker the draconian card-processing fee. As we say here,
   every little helps: by saving even a few cents on each transaction, by the
   end of the month a significant amount is accumulated which can then be
   further invested into business or spent on family. In a month, I'd managed to
   attract my first 5 partners who agreed to pilot the project in their stores
   by accepting crypto via bar-codes. As of this day, they are very happy with
   the choice they've made and have crypto-paying customers visiting every day.

  </column>
 </row>
 <row>
  <column>

   Now, while the delay problem was solved, my clients understandably still
   wanted to receive fiat money rather than keeping a virtual balance. Hence, we
   introduced a conversion mechanism between the Lightning tokens and Bitcoin
   and started to direct people to exchanges where they could sell BTC. Some
   people, however, wanted to keep their earnings as investment, and experiment
   with other coins, like ETH and of course Dogecoin, so this aggregator was
   born &mdash; to help in finding the best exchange rates between crypto-pairs.
   It immediately became clear that it is suitable not just for businessmen who
   were my target market at first, but to the broader audience of
   crypto-enthusiasts and investors, and I hope you find it useful and fair: to
   keep the exchanges on their toes, we constantly verify their rates and
   provide a review system for our users.

  </column>
 </row>
 <row>

  <column>

  In short, the real goal of _Swapee_ is to raise awareness within the
  population about the paradigm-shift unlocked by Bitcoin and other coins and
  build infrastructure that would make it accessible, secure and fun to use for
  everyone. I'd like to bring together 3 groups: the general population,
  crypto-savvy techies and online crypto-platforms so that we can all mutually
  benefit each other and prove that good people united by the passion for
  crypto, can take control in their own hands and live theirs lives without
  being told how to. I see _Swapee_ as a go-to-place for all crypto needs of all
  and every. We've an exciting road map ahead which includes launching a P2P
  exchange and engineering a solution for developers to accept payments and
  donations in a private matter. So why not join our friendly crypto-club today,
  instead of waiting a couple of years to hear &mdash; _I told you so_?

 </column>

  <!-- and bring them together under the single platform to buy,
  sell and exchange crypto in whichever way suits them the best, be it
  centralised or decentralised. This is why we're launching P2P exchange next
  and working on the development of a website payment solution.  -->

 </row>
 <row align-items-center>
  <column col-12 col-md-3>
   Swapee Founder,<br/>
   March 2024.
  </column>
  <column text-right col-md-9>
   <span padding-bottom="3px" border-bottom="1px solid grey" d-inline-block>
    <img src="./img/Bates1.png" alt="signature" ml-5 />
   </span>
  </column>
 </row>
</container>
