<xyz.swapee.swapee-me x-swapee-me />

<container-fluid WideFluid TopContainer>
 <block-main-top />

 <container px-0 px-md-3>
  <row>
   <column>
#* Partner Exchanges
   </column>
  </row>
  <row>
   <column>

    We have partnered up with multiple exchanges, providing continious monitoring
    of the best rates and quality of service for you. We work hard to keep the
    list constantly updated as new players enter the market to make sure you can
    find the best deal. The offers are validated for accuracy and you as the user
    have the ability to add feedback to let us and others know about your
    experience. This is the complete list of cryptocurrency exchange platforms
    that _Swapee_ supports:


 <xyz.swapee.swapee-button mb-3>
  <BuLa href="mailto:partnership@swapee.xyz" />
  Become a partner
 </xyz.swapee.swapee-button>

   </column>
  </row>
 </container>

</container-fluid>

<container mt-3>
 <row>
  <column col-lg-4>

<!-- ## Changelly -->

<p LogoPad h-100 d-flex align-items-center justify-content-center>
 <a href="partners/changelly">
  <img src="./img/changelly.svg" alt="changelly logo" img-fluid placeholder-auto />
 </a>
</p>

  </column>
  <column col-lg-4>

<p LogoPad h-100 d-flex align-items-center justify-content-center>
 <img src="./img/changenow.svg" ChangeNowLogo alt="changenow logo" img-fluid placeholder-auto />
</p>

  </column>
  <column col-lg-4>
<p LogoPad h-100 d-flex align-items-center justify-content-center>
 <img src="./img/logo_lets-1.svg" alt="letsexchange logo" img-fluid placeholder-auto />
</p>

  </column>
 </row>
</container>