.LogoPad {
 background: #3e3e3e;
 border-radius: 5px;
 clip-path:polygon(15px 0,100% 0,100% 100%,100% calc(100% - 15px),calc(100% - 15px) 100%,0 100%,0 100%,0 15px);
}

@media(min-width:768px) {
 .ChangeNowLogo {
  scale:.68;
 }
}

.TopContainer {
 background: url('/pages/index/content/20-exchange/img/bg.png');
}
@media(max-width:576px) {
 .TopContainer {
  background: url('/pages/index/content/20-exchange/img/bg-sm.png');
 }
}
@media(max-width:768px) {
 .TopContainer {
  background: url('/pages/index/content/20-exchange/img/bg-md.png');
 }
}