.BlogImage {
 border-radius: 10px;
}
.Comment::before{
 content:'# '
}
.Comment {
 opacity: .57;
}
.SectionBreak {
 text-align: center;
}
.hljs {
 font-size: larger;
}
.tm, .tm2 {
 font-family: 'Source Code Pro', monospace;
}
.tm {
 background-color: rgb(224, 224, 224);
 border-radius:5px;
 padding: 0 5px;
}
.tm2 {
 background: linear-gradient(90deg, rgb(104, 76, 217), rgb(165, 150, 225));
 box-shadow: inset 0 0 0 1px rgb(88, 36, 178),inset 0 0 0 2px rgb(182, 153, 232),0 0 3px 0 rgb(124, 106, 135);
 /* border:2px solid rgba(208, 0, 255, 0.682); */
 color:whitesmoke;
 text-shadow: -1px -1px rgb(73, 46, 178);
 /* rgb(27, 0, 106); */
 border-radius:5px;
 padding: 2px 7px;
}
.tm2 {
 /* background-color: lightcoral; */
}
.Tag {
 background:grey;
 border:1px solite darkgrey;
 border-radius: 5px;
 color:white;
 font-family: 'Source Code Pro', monospace;
 padding-right:.23rem;
 padding-left:.23rem;
}
.Fig {
 border-radius: 5px;
}
.TableContainer {
 background: linear-gradient(90deg,lightgrey,grey);
 border:1px solid grey;
 box-shadow: inset 0 0 0 1px rgb(210, 210, 210);
 border-radius:13px;
 padding-bottom:10px;
 padding-top:10px;
}
.TableRow {
 position:relative
}
.TableRow:hover::before {
 content:'';
 background:#ffffff66;
 width:100%;
 height:100%;
 position: absolute;
 top:0;
 left:0;
}
.BlogFigIm {
 background: #fafbff;
 border-radius: 10px;
 border: 1px solid #cacaca;
 text-shadow: 1px 1px white;
 box-shadow: inset 0 0 1px 0 white;
}
pre code.javascript,code.json {
 display: block;
 border-radius: 5px;
 padding: 5px;
 background:url('/pages/dev-blog/firebase-tips-and-ticks/content/20-reverse-ids/img/bg-sm.png');
 background-size: cover;
}
.Hex img{
 width:37px;
}
@media(max-width:576px) {
 .TableRow:not(:first-child):not(.FirstRow) {
  padding-top:1rem;
 }
 .TableRow:not(:last-child) {
  padding-bottom:1rem;
  /* margin-bottom:1rem; */
  border-bottom:1px solid #ffffff66;
  box-shadow: inset 0 -1px 0 0 grey;
 }
 .TableRow .TitleCol .tm {
  font-size:1.3rem;
  /* text-align: center; */
 }
 .Hex img{
  width:67px;
 }
 .Hex {
  color:#8aa3d5;
  font-size:1.3rem;
 }
 .TipRow {
  margin-bottom:1.3rem;
 }
}
.Hex{
 margin-top: .125rem;
 margin-bottom: .125rem;
 /* font-size:.75rem; */
 text-shadow: 1px 1px rgb(232, 249, 255);
}
.RegionExample {
 background: linear-gradient(321deg, #ccd0e0, #e6e8f1);
 border-radius: 6px;
 box-shadow: inset 0 -1px #c6c6d8, inset 0 1px #cdced9, inset 0 2px #ffffff69;
}
@media(max-width:576px) {
 .MySwapeeButton {
  margin-bottom: 11px;
 }
 .MySwapeeButton span {
  font-size:14px;
 }
}
/* @media(max-width:1176px) { */
.MySwapeeButton {
 width: 100%;
 padding:2px 13px;
}
.TipRow:nth-child(even) .MySwapeeButton::before{
 /* animation-delay: 2s; */
}
/* } */