<div $id="SwapeeLoginPage" SwapeeLoginPage>

 <h2 text-center mb-4 mb-md-0>Sign In</h2>

 <form px-3>
  <div form-group>
   <label mb-0 Label for="username">Username</label>
   <input $id="UsernameIn" id="username" form-control placeholder="Username">
  </div>

  <div form-group>
   <label mb-0 Label for="password">Password</label>
   <input $id="PasswordIn" id="password" type="password" form-control placeholder="Password">
  </div>

  <div>
   <span $id="CredentialsErrorLa" text-danger>Incorrect credentials.</span>
   <span $id="ErrorLa" text-danger />
  </div>

  <div text-center mt-4>
   <button $id="LoginBu" px-5 py-3 LoginBu type="submit">Sign in</button>
  </div>
 </form>
</div>