@def CIRCLE_COLOR grey;

.ProgressColumn {
}
.ProgressVertLine{
 font-size: 8px;
 font-weight: 500;
 color: grey;
 text-shadow: 1px 1px #dfdfdf;
}
.ProgressCircleWr {
 display:inline-block;
 width:20px;
 height:20px;
 text-align: center;
 margin-right:7px;
}
.ProgressCircle {
 background:CIRCLE_COLOR;
 width:          20px;
 height:         20px;
 display:inline-block;
 border-radius:   50%;
}
.ProgressCircle.CircleLoading {
 animation: CircleLoading 1s infinite;
}
@keyframes CircleLoading {
 0%{
  scale: 0;
 }
 100%{
  scale: 1;
 }
}
.CircleWaiting {
 opacity:.5;
}
.ProgressCircle {
}
.StepLabelWaiting {
 opacity:.5;
}
/* ProgressVertLine */
/* borrow ProgressVertLine from OfferRow */
.ProgressVertLine {
 bottom: -14px;
 left: 8px;
}
.Link {
 color:initial;
 font-weight: 500;
 /* color:#5337a7; */
}
.CheckIm {
 position: absolute;
 top:0px;
 left:4px;
 /* width:25px; */
 /* height:17px; */
}
.CircleFailed::before {
 content:'ˣ';
}
.CircleFailed {
 border: 2px solid #9c2323;
 background: transparent;

 color: #9c2323;
 font-size: 26px;
 line-height: 0.93;
}
.StepLabelFailed{
 color: #9c2323;
}

.CircleComplete {
 background:CIRCLE_COLOR;
 /* background:transparent; */
 /* background:rgb(178, 178, 178); */
 /* border:2.5px solid CIRCLE_COLOR; */
}
.CheckIm {
 display:none;
}
.CircleComplete +.CheckIm {
 display:initial;
}
.TickSvg path {
 stroke-dasharray: 25;
 stroke-dashoffset: 0;
 stroke: #3F3F3F;
}
.TickSvg path {
 animation: tick-dash .75s;
}
@keyframes tick-dash {
 0% {
   stroke-dashoffset: 25;
 }
 to {
   stroke-dashoffset: 0;
 }
}
.StepInfo {
 font-size:12px;
 color:grey;
}
.StepLabelFailed .StepInfo {
 color:#a87070;
}
.TgImg {
 filter:none;
}
.StepLa {
 font-size:initial;
}

.KycInfo {
 border: 1px solid #110d1d;
 border-radius: 5px;
 background: #e4e2e2;
}
.KycCrossing {
 position:absolute;
 left:0;
 border-top:1px solid grey;
 top:0;
 right:-10px;
 rotate:45deg;
 transform-origin: top left;
}