<div $id="OfferExchangeInfoRow" OfferExchangeInfoRow d-lg-flex justify-content-around align-items-center flex-wrap="wrap">
 <div d-flex InfoColLeft justify-content-between>
  <span $id="InImWr" CryptoIm pr-2 />
  <div text-right text-lg-left>
   <span NoticeLa>
    You send:
   </span>
   <div CryptoAmount>
    <span $id="AmountIn" AmountLa Showable />
    <span $id="CryptoIn" CryptoLa Showable />
   </div>
  </div>
 </div>

 <div color="grey" d-flex flex-column align-items-center>
  <div d-none d-lg-block>
   <spectrum-icon:arrow-right />
  </div>
  <div $id="GetOfferErrorWr" GetOfferErrorWr d-flex>
   <div $id="GetOfferErrorLa" GetOfferErrorLa mr-1 />
   <span $id="ReloadGetOfferBu" ReloadGetOfferBu><spectrum-icon:refresh /> </span>
  </div>
 </div>

 <div d-flex InfoColRight justify-content-between>
  <span $id="OutImWr" CryptoIm pr-2 />
  <div text-right text-lg-left>
   <span NoticeLa>
    You get:
   </span>
   <div CryptoAmount>
    <span $id="AmountOutLoIn" spinner-border spinner-border-sm role="status"
    mr-1 />
    <span $id="EstimatedTildeOut" EstimatedLa>≈</span>
    <span $id="AmountOut" AmountLa Showable />
    <span $id="CryptoOut" CryptoLa Showable />
    <span $id="EstimatedFixedTildeOut" EstimatedLa>
     <spectrum-icon:lock-closed />
    </span>
    <span $id="BreakdownBu" BreakdownBu x-breakdown>
     <spectrum-icon:breakdown />
    </span>
   </div>
  </div>
 </div>

 <div flex-basis="100%" height="0" d-none d-lg-block>
 </div>

 <div>
  <com.webcircuits.collapsar query:handle=[x-breakdown] :collapsed :resizeable mt-1>
   <div d-flex flex-column>
    <span $id="RateWr" FeeLaWr>
     <!-- Total amount: <span $id="VisibleAmounLa"/> -->
     Rate: 1 <span $id="CryptoIn" /> ~
      <span $id="RateLa" />
      <span $id="CryptoOut" />
    </span>
    <span $id="PartnerFeeWr" FeeLaWr>
     Service fee: <span $id="PartnerFeeLa"/>%
    </span>
    <span $id="NetworkFeeWr" FeeLaWr>
     Network fee: <span $id="NetworkFeeLa"/> <span $id="CryptoOut" />
    </span>
   </div>
  </com.webcircuits.collapsar>
 </div>
</div>
